# Getting Started with Bodo


---------------

## Connect to a cluster 

This notebook runs code on a cluster. If you are in the Community Edition Workspace, and your notebook is *detached*, make sure the Community Edition Cluster is running. On the sidebar, right click on **<img src="img/cluster_icon.png"/></a> Clusters** and open tab. If the cluster is paused, click on the play button. Once the state changes to running, the notebook should automatically attach to the cluster. If it doesn't, click the dropdown and attach to the Community Edition Cluster.

### Some Setup Code 

Run the following code cell to enable running SQL queries from a dataset stored in parquet format in a public S3 bucket hosted by Bodo. We are using an NYC taxi dataset[<sup>1</sup>](#fn1) containing info about yellow and green taxi trips originating in New York City in 2019. The size of this dataset is about 8GB.

In [1]:
%%px
import pandas as pd
import bodo
import warnings
warnings.filterwarnings("ignore")

@bodo.jit
def read_data_nyc_taxi():
    df = pd.read_parquet(
        "s3://bodo-example-data/nyc-taxi/yellow_tripdata_2019_half.pq",
        )
    return df

df = read_data_nyc_taxi()

Starting 8 engines with <class 'ipyparallel.cluster.launcher.MPIEngineSetLauncher'>

  0%|          | 0/8 [00:00<?, ?engine/s]

%px:   0%|          | 0/8 [00:00<?, ?tasks/s]

## Run a few SQL Queries

Run the next code cell to run a simple SQL query to print out a few records from the table. If you are running on the Community Edition Cluster, this code runs on all 8 cores in the cluster, and you should see 8 outputs. However, since we are only printing out a few records, they will most likely be collected on the output of one core.

In [2]:
%%px
import bodo
import bodosql

# print(df.size)
# print(df.head(1))


# QUERY TO CHECK 
@bodo.jit
def simple_query(df):
    bc = bodosql.BodoSQLContext({"table1": df})
    df1 = bc.sql("SELECT * FROM table1 LIMIT 8")
    return df1 

simple_query(df)

%px:   0%|          | 0/8 [00:00<?, ?tasks/s]

Out[2:2]:
Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

Out[6:2]:
Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

Out[4:2]:
Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

Out[7:2]:
Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

Out[5:2]:
Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

Out[1:2]:
Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

Out[3:2]:
Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.00,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.00,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.00,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.00,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.00,0.3,55.55,NaN
5,2,2018-11-28 16:25:49,2018-11-28 16:28:26,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,5.76,0.3,13.31,NaN
6,2,2018-11-28 16:29:37,2018-11-28 16:33:43,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.00,0.3,55.55,NaN
7,1,2019-01-01 00:21:28,2019-01-01 00:28:37,1,1.3,1,N,163,229,1,6.5,0.5,0.5,1.25,0.00,0.3,9.05,NaN

Let's run another simple query, which generates a quick summary of the table, grouped by passenger counts, showing rounded off average and total fares. Again, you should see 8 core outputs, and some might be empty.

In [7]:
%%px 


@bodo.jit
def simple_query_2(df):
    bc = bodosql.BodoSQLContext({"nyctaxi": df})

    df1 = bc.sql('''
                SELECT DISTINCT passenger_count
                , ROUND (SUM (fare_amount),0) as TotalFares
                , ROUND (AVG (fare_amount),0) as AvgFares
                FROM nyctaxi
                GROUP BY passenger_count
                ''')
    return df1

simple_query_2(df)

%px:   0%|          | 0/8 [00:00<?, ?tasks/s]

Out[3:6]:
Empty DataFrame
Columns: [passenger_count, TotalFares, AvgFares]
Index: []

Out[4:6]:
Empty DataFrame
Columns: [passenger_count, TotalFares, AvgFares]
Index: []

Out[1:6]:
   passenger_count  TotalFares  AvgFares
1                8      3854.0      54.0

Out[6:6]:
   passenger_count  TotalFares  AvgFares
6                0   4862469.0      14.0
7                7      4017.0      51.0

Out[7:6]:
   passenger_count  TotalFares  AvgFares
8                5  11343053.0      13.0
9                6   6764732.0      12.0

Out[5:6]:
   passenger_count   TotalFares  AvgFares
3                1  190001767.0      13.0
4                3   11024521.0      13.0
5                2   40135971.0      13.0

Out[2:6]:
   passenger_count  TotalFares  AvgFares
2                4   5030361.0      13.0

Out[0:6]:
   passenger_count  TotalFares  AvgFares
0                9      2250.0      49.0

----


- The `%%px` cell magic in each cell is what indicates that this code cell should run on all cores in the cluster. 
- To learn more about Bodo's Just-In-Time compilation workflow, visit our [docs](https://docs.bodo.ai). 

```


If you've made it this far, you have now run your first data processing SQL query with Bodo! . Please consider joining our [community slack](https://bodocommunity.slack.com/join/shared_invite/zt-qwdc8fad-6rZ8a1RmkkJ6eOX1X__knA#/shared-invite/email) to get in touch directly with our engineers and other Bodo users like yourself. 



---

## Extra: A Pandas Computation 



---

### Footnotes 

\[1\] <span id="fn1"> Original example can be found [here]("https://github.com/toddwschneider/nyc-taxi-data"). </span>