# TPC-H with Iceberg Tables

TPC-H is a decision support benchmark that offers business-oriented ad hoc queries.
More information can be found [here](http://www.tpc.org/tpch)

The queries are originally in SQL format and here they are implemented using the pandas API.

By defaults runs use Bodo. Hence, data is distributed in chunks across processes.

**To scale and run your application with multiple nodes you can use [Bodo platform](https://platform.bodo.ai/account/login)**

The following code imports bodo and verifies that the IPyParallel cluster is set up correctly

In [ ]:
import os
if os.environ.get("BODO_PLATFORM_WORKSPACE_UUID",'NA') == 'NA':
    print("You are not on Bodo Platform, running ipyparallel.. ")
    import ipyparallel as ipp
    import psutil; n = min(psutil.cpu_count(logical=False), 8)
    rc = ipp.Cluster(engines='mpi', n=n).start_and_connect_sync(activate=True)

In [ ]:
%autopx

In [2]:
import bodo
import time
import numpy as np
import pandas as pd

%px:   0%|          | 0/144 [00:00<?, ?tasks/s]

<p> Generate <b>AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY and AWS_DEFAULT_REGION </b> of where data is presnt. Add them in the below code cell. </p>

Nessie Endpoint -  Go to your Dremio account,  click on Settings -> Project Settings -> Nessie Endpoint
Dremio Token - Click on your Username botton left -> Account Settings -> Personal Access Tokens -> Generate Token ->  copy the value generated.

In [3]:
import json
import os

path_to_conn_creds = "/shared/anudeep_nbs/credentials.json"
with open(path_to_conn_creds) as f:
    creds = json.load(f)

os.environ["AWS_ACCESS_KEY_ID"] = creds["aws"]["aws_access_key_id"]
os.environ["AWS_SECRET_ACCESS_KEY"] = creds["aws"]["aws_secret_access_key"]
os.environ["AWS_DEFAULT_REGION"] = creds["aws"]["aws_default_region"]

Nessie_Endpoint = creds["iceberg"]["nessie_endpoint"]
Dremio_Token = creds["iceberg"]["token"]

In [3]:
iceberg_url = f"iceberg+{Nessie_Endpoint}?type=nessie&authentication.type=BEARER&authentication.token={Dremio_Token}"

<a id="loading_data"></a>
## Loading data

In this section, we load the data required by the queries in pandas DataFrame.

In read_sql_table  method change the first arguement with the table name. To write the tables to iceberg using EMR , https://github.com/Bodo-inc/examples-dev/blob/EMR_ICEBURG_TEST/emr_iceburg_examples/emr_iceburg_read_write.ipynb .

In [4]:
@bodo.jit
def run_queries(iceberg_url):
    #tracing.start()

    print("#" * 128)
    print("Hello")
    print("#" * 128)

    # Load the data
    start_time = time.time()


    lineitem = pd.read_sql_table("SF1_LINEITEM_PQ_A", iceberg_url,"")

    orders = pd.read_sql_table("SF1_ORDERS_PQ",iceberg_url,"")

    customer = pd.read_sql_table("SF1_CUSTOMER_PQ",iceberg_url,"")
    

    nation = pd.read_sql_table("SF1_NATION_PQ",iceberg_url,"")

    region = pd.read_sql_table("SF1_REGION_PQ",iceberg_url,"")
    
    supplier = pd.read_sql_table("SF1_SUPPLIER_PQ",iceberg_url,"")
    
    part = pd.read_sql_table("SF1_PART_PQ",iceberg_url,"")
    
    partsupp = pd.read_sql_table("SF1_PARTSUPP_PQ",iceberg_url,"")

    t1 = time.time()
    
    q01(lineitem)
    q02(part, partsupp, supplier, nation, region)
    q03(lineitem, orders, customer)
    q04(lineitem, orders)
    q05(lineitem, orders, customer, nation, region, supplier)
    q06(lineitem)
    q07(lineitem, supplier, orders, customer, nation)
    q08(part, lineitem, supplier, orders, customer, nation, region)
    q09(lineitem, orders, part, nation, partsupp, supplier)
    q10(lineitem, orders, customer, nation)
    q11(partsupp, supplier, nation)
    q12(lineitem, orders)
    q13(customer, orders)
    q14(lineitem, part)
    q15(lineitem, supplier)
    q16(part, partsupp, supplier)
    q17(lineitem, part)
    q18(lineitem, orders, customer)
    q19(lineitem, part)
    q20(lineitem, part, nation, partsupp, supplier)
    q21(lineitem, orders, supplier, nation)
    q22(customer, orders)

    print("Total Query time (s): ", time.time() - t1)

    print("#"*128)
    print("total execution time : ", time.time() - start_time)

    #tracing.dump("/tmp/bodo_iceburg_tpch_07072022_parquet")

In [15]:
@bodo.jit
def q01(lineitem):
    t1 = time.time()
    date = pd.Timestamp("1998-09-02")
    lineitem_filtered = lineitem.loc[
                        :,
                        [
                            "L_QUANTITY",
                            "L_EXTENDEDPRICE",
                            "L_DISCOUNT",
                            "L_TAX",
                            "L_RETURNFLAG",
                            "L_LINESTATUS",
                            "L_SHIPDATE",
                            "L_ORDERKEY",
                        ],
                        ]
    sel = lineitem_filtered.L_SHIPDATE <= date
    lineitem_filtered = lineitem_filtered[sel]
    lineitem_filtered["AVG_QTY"] = lineitem_filtered.L_QUANTITY
    lineitem_filtered["AVG_PRICE"] = lineitem_filtered.L_EXTENDEDPRICE
    lineitem_filtered["DISC_PRICE"] = lineitem_filtered.L_EXTENDEDPRICE * (
            1 - lineitem_filtered.L_DISCOUNT
    )
    lineitem_filtered["CHARGE"] = (
            lineitem_filtered.L_EXTENDEDPRICE
            * (1 - lineitem_filtered.L_DISCOUNT)
            * (1 + lineitem_filtered.L_TAX)
    )
    gb = lineitem_filtered.groupby(["L_RETURNFLAG", "L_LINESTATUS"], as_index=False)[
        "L_QUANTITY",
        "L_EXTENDEDPRICE",
        "DISC_PRICE",
        "CHARGE",
        "AVG_QTY",
        "AVG_PRICE",
        "L_DISCOUNT",
        "L_ORDERKEY",
    ]
    total = gb.agg(
        {
            "L_QUANTITY": "sum",
            "L_EXTENDEDPRICE": "sum",
            "DISC_PRICE": "sum",
            "CHARGE": "sum",
            "AVG_QTY": "mean",
            "AVG_PRICE": "mean",
            "L_DISCOUNT": "mean",
            "L_ORDERKEY": "count",
        }
    )
    total = total.sort_values(["L_RETURNFLAG", "L_LINESTATUS"])
    print(total.head())
    print("Q01 Execution time (s): ", time.time() - t1)


@bodo.jit
def q02(part, partsupp, supplier, nation, region):
    t1 = time.time()
    nation_filtered = nation.loc[:, ["N_NATIONKEY", "N_NAME", "N_REGIONKEY"]]
    region_filtered = region[(region["R_NAME"] == "EUROPE")]
    region_filtered = region_filtered.loc[:, ["R_REGIONKEY"]]
    r_n_merged = nation_filtered.merge(
        region_filtered, left_on="N_REGIONKEY", right_on="R_REGIONKEY", how="inner"
    )
    r_n_merged = r_n_merged.loc[:, ["N_NATIONKEY", "N_NAME"]]
    supplier_filtered = supplier.loc[
                        :,
                        [
                            "S_SUPPKEY",
                            "S_NAME",
                            "S_ADDRESS",
                            "S_NATIONKEY",
                            "S_PHONE",
                            "S_ACCTBAL",
                            "S_COMMENT",
                        ],
                        ]
    s_r_n_merged = r_n_merged.merge(
        supplier_filtered, left_on="N_NATIONKEY", right_on="S_NATIONKEY", how="inner"
    )
    s_r_n_merged = s_r_n_merged.loc[
                   :,
                   [
                       "N_NAME",
                       "S_SUPPKEY",
                       "S_NAME",
                       "S_ADDRESS",
                       "S_PHONE",
                       "S_ACCTBAL",
                       "S_COMMENT",
                   ],
                   ]
    partsupp_filtered = partsupp.loc[:, ["PS_PARTKEY", "PS_SUPPKEY", "PS_SUPPLYCOST"]]
    ps_s_r_n_merged = s_r_n_merged.merge(
        partsupp_filtered, left_on="S_SUPPKEY", right_on="PS_SUPPKEY", how="inner"
    )
    ps_s_r_n_merged = ps_s_r_n_merged.loc[
                      :,
                      [
                          "N_NAME",
                          "S_NAME",
                          "S_ADDRESS",
                          "S_PHONE",
                          "S_ACCTBAL",
                          "S_COMMENT",
                          "PS_PARTKEY",
                          "PS_SUPPLYCOST",
                      ],
                      ]
    part_filtered = part.loc[:, ["P_PARTKEY", "P_MFGR", "P_SIZE", "P_TYPE"]]
    part_filtered = part_filtered[
        (part_filtered["P_SIZE"] == 15)
        & (part_filtered["P_TYPE"].str.endswith("BRASS"))
        ]
    part_filtered = part_filtered.loc[:, ["P_PARTKEY", "P_MFGR"]]
    merged_df = part_filtered.merge(
        ps_s_r_n_merged, left_on="P_PARTKEY", right_on="PS_PARTKEY", how="inner"
    )
    merged_df = merged_df.loc[
                :,
                [
                    "N_NAME",
                    "S_NAME",
                    "S_ADDRESS",
                    "S_PHONE",
                    "S_ACCTBAL",
                    "S_COMMENT",
                    "PS_SUPPLYCOST",
                    "P_PARTKEY",
                    "P_MFGR",
                ],
                ]
    min_values = merged_df.groupby("P_PARTKEY", as_index=False)["PS_SUPPLYCOST"].min()
    min_values.columns = ["P_PARTKEY_CPY", "MIN_SUPPLYCOST"]
    merged_df = merged_df.merge(
        min_values,
        left_on=["P_PARTKEY", "PS_SUPPLYCOST"],
        right_on=["P_PARTKEY_CPY", "MIN_SUPPLYCOST"],
        how="inner",
    )
    total = merged_df.loc[
            :,
            [
                "S_ACCTBAL",
                "S_NAME",
                "N_NAME",
                "P_PARTKEY",
                "P_MFGR",
                "S_ADDRESS",
                "S_PHONE",
                "S_COMMENT",
            ],
            ]
    total = total.sort_values(
        by=["S_ACCTBAL", "N_NAME", "S_NAME", "P_PARTKEY"],
        ascending=[False, True, True, True],
    )
    print(total.head())
    print("Q02 Execution time (s): ", time.time() - t1)


@bodo.jit
def q03(lineitem, orders, customer):
    t1 = time.time()
    date = pd.Timestamp("1995-03-04")
    lineitem_filtered = lineitem.loc[
                        :, ["L_ORDERKEY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_SHIPDATE"]
                        ]
    orders_filtered = orders.loc[
                      :, ["O_ORDERKEY", "O_CUSTKEY", "O_ORDERDATE", "O_SHIPPRIORITY"]
                      ]
    customer_filtered = customer.loc[:, ["C_MKTSEGMENT", "C_CUSTKEY"]]
    lsel = lineitem_filtered.L_SHIPDATE > date
    osel = orders_filtered.O_ORDERDATE < date
    csel = customer_filtered.C_MKTSEGMENT == "HOUSEHOLD"
    flineitem = lineitem_filtered[lsel]
    forders = orders_filtered[osel]
    fcustomer = customer_filtered[csel]
    jn1 = fcustomer.merge(forders, left_on="C_CUSTKEY", right_on="O_CUSTKEY")
    jn2 = jn1.merge(flineitem, left_on="O_ORDERKEY", right_on="L_ORDERKEY")
    jn2["TMP"] = jn2.L_EXTENDEDPRICE * (1 - jn2.L_DISCOUNT)
    total = (
        jn2.groupby(["L_ORDERKEY", "O_ORDERDATE", "O_SHIPPRIORITY"], as_index=False)[
            "TMP"
        ]
        .sum()
        .sort_values(["TMP"], ascending=False)
    )
    res = total.loc[:, ["L_ORDERKEY", "TMP", "O_ORDERDATE", "O_SHIPPRIORITY"]]
    print(res.head(10))
    print("Q03 Execution time (s): ", time.time() - t1)


@bodo.jit
def q04(lineitem, orders):
    t1 = time.time()
    date1 = pd.Timestamp("1993-11-01")
    date2 = pd.Timestamp("1993-08-01")
    lsel = lineitem.L_COMMITDATE < lineitem.L_RECEIPTDATE
    osel = (orders.O_ORDERDATE < date1) & (orders.O_ORDERDATE >= date2)
    flineitem = lineitem[lsel]
    forders = orders[osel]
    jn = forders[forders["O_ORDERKEY"].isin(flineitem["L_ORDERKEY"])]
    total = (
        jn.groupby("O_ORDERPRIORITY", as_index=False)["O_ORDERKEY"]
        .count()
        .sort_values(["O_ORDERPRIORITY"])
    )
    print(total.head())
    print("Q04 Execution time (s): ", time.time() - t1)


@bodo.jit
def q05(lineitem, orders, customer, nation, region, supplier):
    t1 = time.time()
    date1 = pd.Timestamp("1996-01-01")
    date2 = pd.Timestamp("1997-01-01")
    rsel = region.R_NAME == "ASIA"
    osel = (orders.O_ORDERDATE >= date1) & (orders.O_ORDERDATE < date2)
    forders = orders[osel]
    fregion = region[rsel]
    jn1 = fregion.merge(nation, left_on="R_REGIONKEY", right_on="N_REGIONKEY")
    jn2 = jn1.merge(customer, left_on="N_NATIONKEY", right_on="C_NATIONKEY")
    jn3 = jn2.merge(forders, left_on="C_CUSTKEY", right_on="O_CUSTKEY")
    jn4 = jn3.merge(lineitem, left_on="O_ORDERKEY", right_on="L_ORDERKEY")
    jn5 = supplier.merge(
        jn4, left_on=["S_SUPPKEY", "S_NATIONKEY"], right_on=["L_SUPPKEY", "N_NATIONKEY"]
    )
    jn5["TMP"] = jn5.L_EXTENDEDPRICE * (1.0 - jn5.L_DISCOUNT)
    gb = jn5.groupby("N_NAME", as_index=False)["TMP"].sum()
    total = gb.sort_values("TMP", ascending=False)
    bodo.parallel_print(total.head(1))
    print("Q05 Execution time (s): ", time.time() - t1)


@bodo.jit
def q06(lineitem):
    t1 = time.time()
    date1 = pd.Timestamp("1996-01-01")
    date2 = pd.Timestamp("1997-01-01")
    lineitem_filtered = lineitem.loc[
                        :, ["L_QUANTITY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_SHIPDATE"]
                        ]
    sel = (
            (lineitem_filtered.L_SHIPDATE >= date1)
            & (lineitem_filtered.L_SHIPDATE < date2)
            & (lineitem_filtered.L_DISCOUNT >= 0.08)
            & (lineitem_filtered.L_DISCOUNT <= 0.1)
            & (lineitem_filtered.L_QUANTITY < 24)
    )
    flineitem = lineitem_filtered[sel]
    total = (flineitem.L_EXTENDEDPRICE * flineitem.L_DISCOUNT).sum()
    print(total)
    print("Q06 Execution time (s): ", time.time() - t1)


@bodo.jit
def q07(lineitem, supplier, orders, customer, nation):
    """This version is faster than q07_old. Keeping the old one for reference"""
    t1 = time.time()

    lineitem_filtered = lineitem[
        (lineitem["L_SHIPDATE"] >= pd.Timestamp("1995-01-01"))
        & (lineitem["L_SHIPDATE"] < pd.Timestamp("1997-01-01"))
        ]
    lineitem_filtered["L_YEAR"] = lineitem_filtered["L_SHIPDATE"].apply(
        lambda x: x.year
    )
    lineitem_filtered["VOLUME"] = lineitem_filtered["L_EXTENDEDPRICE"] * (
            1.0 - lineitem_filtered["L_DISCOUNT"]
    )
    lineitem_filtered = lineitem_filtered.loc[
                        :, ["L_ORDERKEY", "L_SUPPKEY", "L_YEAR", "VOLUME"]
                        ]
    supplier_filtered = supplier.loc[:, ["S_SUPPKEY", "S_NATIONKEY"]]
    orders_filtered = orders.loc[:, ["O_ORDERKEY", "O_CUSTKEY"]]
    customer_filtered = customer.loc[:, ["C_CUSTKEY", "C_NATIONKEY"]]
    n1 = nation[(nation["N_NAME"] == "FRANCE")].loc[:, ["N_NATIONKEY", "N_NAME"]]
    n2 = nation[(nation["N_NAME"] == "GERMANY")].loc[:, ["N_NATIONKEY", "N_NAME"]]

    # ----- do nation 1 -----
    N1_C = customer_filtered.merge(
        n1, left_on="C_NATIONKEY", right_on="N_NATIONKEY", how="inner"
    )
    N1_C = N1_C.drop(columns=["C_NATIONKEY", "N_NATIONKEY"]).rename(
        columns={"N_NAME": "CUST_NATION"}
    )
    N1_C_O = N1_C.merge(
        orders_filtered, left_on="C_CUSTKEY", right_on="O_CUSTKEY", how="inner"
    )
    N1_C_O = N1_C_O.drop(columns=["C_CUSTKEY", "O_CUSTKEY"])

    N2_S = supplier_filtered.merge(
        n2, left_on="S_NATIONKEY", right_on="N_NATIONKEY", how="inner"
    )
    N2_S = N2_S.drop(columns=["S_NATIONKEY", "N_NATIONKEY"]).rename(
        columns={"N_NAME": "SUPP_NATION"}
    )
    N2_S_L = N2_S.merge(
        lineitem_filtered, left_on="S_SUPPKEY", right_on="L_SUPPKEY", how="inner"
    )
    N2_S_L = N2_S_L.drop(columns=["S_SUPPKEY", "L_SUPPKEY"])

    total1 = N1_C_O.merge(
        N2_S_L, left_on="O_ORDERKEY", right_on="L_ORDERKEY", how="inner"
    )
    total1 = total1.drop(columns=["O_ORDERKEY", "L_ORDERKEY"])

    # ----- do nation 2 -----
    N2_C = customer_filtered.merge(
        n2, left_on="C_NATIONKEY", right_on="N_NATIONKEY", how="inner"
    )
    N2_C = N2_C.drop(columns=["C_NATIONKEY", "N_NATIONKEY"]).rename(
        columns={"N_NAME": "CUST_NATION"}
    )
    N2_C_O = N2_C.merge(
        orders_filtered, left_on="C_CUSTKEY", right_on="O_CUSTKEY", how="inner"
    )
    N2_C_O = N2_C_O.drop(columns=["C_CUSTKEY", "O_CUSTKEY"])

    N1_S = supplier_filtered.merge(
        n1, left_on="S_NATIONKEY", right_on="N_NATIONKEY", how="inner"
    )
    N1_S = N1_S.drop(columns=["S_NATIONKEY", "N_NATIONKEY"]).rename(
        columns={"N_NAME": "SUPP_NATION"}
    )
    N1_S_L = N1_S.merge(
        lineitem_filtered, left_on="S_SUPPKEY", right_on="L_SUPPKEY", how="inner"
    )
    N1_S_L = N1_S_L.drop(columns=["S_SUPPKEY", "L_SUPPKEY"])

    total2 = N2_C_O.merge(
        N1_S_L, left_on="O_ORDERKEY", right_on="L_ORDERKEY", how="inner"
    )
    total2 = total2.drop(columns=["O_ORDERKEY", "L_ORDERKEY"])

    # concat results
    total = pd.concat([total1, total2])

    total = total.groupby(["SUPP_NATION", "CUST_NATION", "L_YEAR"], as_index=False).agg(
        REVENUE=pd.NamedAgg(column="VOLUME", aggfunc="sum")
    )
    total = total.sort_values(
        by=["SUPP_NATION", "CUST_NATION", "L_YEAR"], ascending=[True, True, True]
    )
    print(total.head())
    print("Q07 Execution time (s): ", time.time() - t1)


@bodo.jit
def q08(part, lineitem, supplier, orders, customer, nation, region):
    t1 = time.time()
    part_filtered = part[(part["P_TYPE"] == "ECONOMY ANODIZED STEEL")]
    part_filtered = part_filtered.loc[:, ["P_PARTKEY"]]
    lineitem_filtered = lineitem.loc[:, ["L_PARTKEY", "L_SUPPKEY", "L_ORDERKEY"]]
    lineitem_filtered["VOLUME"] = lineitem["L_EXTENDEDPRICE"] * (
            1.0 - lineitem["L_DISCOUNT"]
    )
    total = part_filtered.merge(
        lineitem_filtered, left_on="P_PARTKEY", right_on="L_PARTKEY", how="inner"
    )
    total = total.loc[:, ["L_SUPPKEY", "L_ORDERKEY", "VOLUME"]]
    supplier_filtered = supplier.loc[:, ["S_SUPPKEY", "S_NATIONKEY"]]
    total = total.merge(
        supplier_filtered, left_on="L_SUPPKEY", right_on="S_SUPPKEY", how="inner"
    )
    total = total.loc[:, ["L_ORDERKEY", "VOLUME", "S_NATIONKEY"]]
    orders_filtered = orders[
        (orders["O_ORDERDATE"] >= pd.Timestamp("1995-01-01"))
        & (orders["O_ORDERDATE"] < pd.Timestamp("1997-01-01"))
        ]
    orders_filtered["O_YEAR"] = orders_filtered["O_ORDERDATE"].apply(lambda x: x.year)
    orders_filtered = orders_filtered.loc[:, ["O_ORDERKEY", "O_CUSTKEY", "O_YEAR"]]
    total = total.merge(
        orders_filtered, left_on="L_ORDERKEY", right_on="O_ORDERKEY", how="inner"
    )
    total = total.loc[:, ["VOLUME", "S_NATIONKEY", "O_CUSTKEY", "O_YEAR"]]
    customer_filtered = customer.loc[:, ["C_CUSTKEY", "C_NATIONKEY"]]
    total = total.merge(
        customer_filtered, left_on="O_CUSTKEY", right_on="C_CUSTKEY", how="inner"
    )
    total = total.loc[:, ["VOLUME", "S_NATIONKEY", "O_YEAR", "C_NATIONKEY"]]
    n1_filtered = nation.loc[:, ["N_NATIONKEY", "N_REGIONKEY"]]
    n2_filtered = nation.loc[:, ["N_NATIONKEY", "N_NAME"]].rename(
        columns={"N_NAME": "NATION"}
    )
    total = total.merge(
        n1_filtered, left_on="C_NATIONKEY", right_on="N_NATIONKEY", how="inner"
    )
    total = total.loc[:, ["VOLUME", "S_NATIONKEY", "O_YEAR", "N_REGIONKEY"]]
    total = total.merge(
        n2_filtered, left_on="S_NATIONKEY", right_on="N_NATIONKEY", how="inner"
    )
    total = total.loc[:, ["VOLUME", "O_YEAR", "N_REGIONKEY", "NATION"]]
    region_filtered = region[(region["R_NAME"] == "AMERICA")]
    region_filtered = region_filtered.loc[:, ["R_REGIONKEY"]]
    total = total.merge(
        region_filtered, left_on="N_REGIONKEY", right_on="R_REGIONKEY", how="inner"
    )
    total = total.loc[:, ["VOLUME", "O_YEAR", "NATION"]]

    def udf(df):
        demonimator = df["VOLUME"].sum()
        df = df[df["NATION"] == "BRAZIL"]
        numerator = df["VOLUME"].sum()
        return numerator / demonimator

    total = total.groupby("O_YEAR", as_index=False).apply(udf)
    total.columns = ["O_YEAR", "MKT_SHARE"]
    total = total.sort_values(by=["O_YEAR"], ascending=[True])
    print(total.head())
    print("Q08 Execution time (s): ", time.time() - t1)


@bodo.jit
def q09(lineitem, orders, part, nation, partsupp, supplier):
    t1 = time.time()
    psel = part.P_NAME.str.contains("ghost")
    fpart = part[psel]
    jn1 = lineitem.merge(fpart, left_on="L_PARTKEY", right_on="P_PARTKEY")
    jn2 = jn1.merge(supplier, left_on="L_SUPPKEY", right_on="S_SUPPKEY")
    jn3 = jn2.merge(nation, left_on="S_NATIONKEY", right_on="N_NATIONKEY")
    jn4 = partsupp.merge(
        jn3, left_on=["PS_PARTKEY", "PS_SUPPKEY"], right_on=["L_PARTKEY", "L_SUPPKEY"]
    )
    jn5 = jn4.merge(orders, left_on="L_ORDERKEY", right_on="O_ORDERKEY")
    jn5["TMP"] = jn5.L_EXTENDEDPRICE * (1 - jn5.L_DISCOUNT) - (
            (1 * jn5.PS_SUPPLYCOST) * jn5.L_QUANTITY
    )
    jn5["O_YEAR"] = jn5.O_ORDERDATE.apply(lambda x: x.year)
    gb = jn5.groupby(["N_NAME", "O_YEAR"], as_index=False)["TMP"].sum()
    total = gb.sort_values(["N_NAME", "O_YEAR"], ascending=[True, False])
    print(total.head())
    print("Q09 Execution time (s): ", time.time() - t1)


@bodo.jit
def q10(lineitem, orders, customer, nation):
    t1 = time.time()
    date1 = pd.Timestamp("1994-11-01")
    date2 = pd.Timestamp("1995-02-01")
    osel = (orders.O_ORDERDATE >= date1) & (orders.O_ORDERDATE < date2)
    lsel = lineitem.L_RETURNFLAG == "R"
    forders = orders[osel]
    flineitem = lineitem[lsel]
    jn1 = flineitem.merge(forders, left_on="L_ORDERKEY", right_on="O_ORDERKEY")
    jn2 = jn1.merge(customer, left_on="O_CUSTKEY", right_on="C_CUSTKEY")
    jn3 = jn2.merge(nation, left_on="C_NATIONKEY", right_on="N_NATIONKEY")
    jn3["TMP"] = jn3.L_EXTENDEDPRICE * (1.0 - jn3.L_DISCOUNT)
    gb = jn3.groupby(
        [
            "C_CUSTKEY",
            "C_NAME",
            "C_ACCTBAL",
            "C_PHONE",
            "N_NAME",
            "C_ADDRESS",
            "C_COMMENT",
        ],
        as_index=False,
    )["TMP"].sum()
    total = gb.sort_values("TMP", ascending=False)
    print(total.head(20))
    print("Q10 Execution time (s): ", time.time() - t1)


@bodo.jit
def q11(partsupp, supplier, nation):
    t1 = time.time()
    partsupp_filtered = partsupp.loc[:, ["PS_PARTKEY", "PS_SUPPKEY"]]
    partsupp_filtered["TOTAL_COST"] = (
            partsupp["PS_SUPPLYCOST"] * partsupp["PS_AVAILQTY"]
    )
    supplier_filtered = supplier.loc[:, ["S_SUPPKEY", "S_NATIONKEY"]]
    ps_supp_merge = partsupp_filtered.merge(
        supplier_filtered, left_on="PS_SUPPKEY", right_on="S_SUPPKEY", how="inner"
    )
    ps_supp_merge.loc[:, ["PS_PARTKEY", "S_NATIONKEY", "TOTAL_COST"]]
    nation_filtered = nation[(nation["N_NAME"] == "GERMANY")]
    nation_filtered = nation_filtered.loc[:, ["N_NATIONKEY"]]
    ps_supp_n_merge = ps_supp_merge.merge(
        nation_filtered, left_on="S_NATIONKEY", right_on="N_NATIONKEY", how="inner"
    )
    ps_supp_n_merge = ps_supp_n_merge.loc[:, ["PS_PARTKEY", "TOTAL_COST"]]
    sum_val = ps_supp_n_merge["TOTAL_COST"].sum() * 0.0001
    total = ps_supp_n_merge.groupby(["PS_PARTKEY"], as_index=False).agg(
        VALUE=pd.NamedAgg(column="TOTAL_COST", aggfunc="sum")
    )
    total = total[total["VALUE"] > sum_val]
    total = total.sort_values("VALUE", ascending=False)
    print(total)
    print("Q11 Execution time (s): ", time.time() - t1)


@bodo.jit
def q12(lineitem, orders):
    t1 = time.time()
    date1 = pd.Timestamp("1994-01-01")
    date2 = pd.Timestamp("1995-01-01")
    sel = (
            (lineitem.L_RECEIPTDATE < date2)
            & (lineitem.L_COMMITDATE < date2)
            & (lineitem.L_SHIPDATE < date2)
            & (lineitem.L_SHIPDATE < lineitem.L_COMMITDATE)
            & (lineitem.L_COMMITDATE < lineitem.L_RECEIPTDATE)
            & (lineitem.L_RECEIPTDATE >= date1)
            & ((lineitem.L_SHIPMODE == "MAIL") | (lineitem.L_SHIPMODE == "SHIP"))
    )
    flineitem = lineitem[sel]
    jn = flineitem.merge(orders, left_on="L_ORDERKEY", right_on="O_ORDERKEY")

    def g1(x):
        return ((x == "1-URGENT") | (x == "2-HIGH")).sum()

    def g2(x):
        return ((x != "1-URGENT") & (x != "2-HIGH")).sum()

    total = jn.groupby("L_SHIPMODE", as_index=False)["O_ORDERPRIORITY"].agg((g1, g2))
    total = total.sort_values("L_SHIPMODE")
    print(total.head())
    print("Q12 Execution time (s): ", time.time() - t1)


@bodo.jit
def q13(customer, orders):
    t1 = time.time()
    customer_filtered = customer.loc[:, ["C_CUSTKEY"]]
    orders_filtered = orders[
        ~orders["O_COMMENT"].str.contains("special(\S|\s)*requests")
    ]
    orders_filtered = orders_filtered.loc[:, ["O_ORDERKEY", "O_CUSTKEY"]]
    c_o_merged = customer_filtered.merge(
        orders_filtered, left_on="C_CUSTKEY", right_on="O_CUSTKEY", how="left"
    )
    c_o_merged = c_o_merged.loc[:, ["C_CUSTKEY", "O_ORDERKEY"]]
    count_df = c_o_merged.groupby(["C_CUSTKEY"], as_index=False).agg(
        C_COUNT=pd.NamedAgg(column="O_ORDERKEY", aggfunc="count")
    )
    total = count_df.groupby(["C_COUNT"], as_index=False).size()
    total.columns = ["C_COUNT", "CUSTDIST"]
    total = total.sort_values(by=["CUSTDIST", "C_COUNT"], ascending=[False, False])
    print(total.head())
    print("Q13 Execution time (s): ", time.time() - t1)


@bodo.jit
def q14(lineitem, part):
    t1 = time.time()
    startDate = pd.Timestamp("1994-03-01")
    endDate = pd.Timestamp("1994-04-01")
    p_type_like = "PROMO"
    part_filtered = part.loc[:, ["P_PARTKEY", "P_TYPE"]]
    lineitem_filtered = lineitem.loc[
                        :, ["L_EXTENDEDPRICE", "L_DISCOUNT", "L_SHIPDATE", "L_PARTKEY"]
                        ]
    sel = (lineitem_filtered.L_SHIPDATE >= startDate) & (
            lineitem_filtered.L_SHIPDATE < endDate
    )
    flineitem = lineitem_filtered[sel]
    jn = flineitem.merge(part_filtered, left_on="L_PARTKEY", right_on="P_PARTKEY")
    jn["TMP"] = jn.L_EXTENDEDPRICE * (1.0 - jn.L_DISCOUNT)
    total = jn[jn.P_TYPE.str.startswith(p_type_like)].TMP.sum() * 100 / jn.TMP.sum()
    print(total)
    print("Q14 Execution time (s): ", time.time() - t1)


@bodo.jit
def q15(lineitem, supplier):
    t1 = time.time()
    lineitem_filtered = lineitem[
        (lineitem["L_SHIPDATE"] >= pd.Timestamp("1996-01-01"))
        & (
                lineitem["L_SHIPDATE"]
                < (pd.Timestamp("1996-01-01") + pd.DateOffset(months=3))
        )
        ]
    lineitem_filtered["REVENUE_PARTS"] = lineitem_filtered["L_EXTENDEDPRICE"] * (
            1.0 - lineitem_filtered["L_DISCOUNT"]
    )
    lineitem_filtered = lineitem_filtered.loc[:, ["L_SUPPKEY", "REVENUE_PARTS"]]
    revenue_table = (
        lineitem_filtered.groupby("L_SUPPKEY", as_index=False)
        .agg(TOTAL_REVENUE=pd.NamedAgg(column="REVENUE_PARTS", aggfunc="sum"))
        .rename(columns={"L_SUPPKEY": "SUPPLIER_NO"}, copy=False)
    )
    max_revenue = revenue_table["TOTAL_REVENUE"].max()
    revenue_table = revenue_table[revenue_table["TOTAL_REVENUE"] == max_revenue]
    supplier_filtered = supplier.loc[:, ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_PHONE"]]
    total = supplier_filtered.merge(
        revenue_table, left_on="S_SUPPKEY", right_on="SUPPLIER_NO", how="inner"
    )
    total = total.loc[
            :, ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_PHONE", "TOTAL_REVENUE"]
            ]
    print(total.head())
    print("Q15 Execution time (s): ", time.time() - t1)


@bodo.jit
def q16(part, partsupp, supplier):
    t1 = time.time()
    part_filtered = part[
        (part["P_BRAND"] != "Brand#45")
        & (~part["P_TYPE"].str.contains("^MEDIUM POLISHED"))
        & part["P_SIZE"].isin([49, 14, 23, 45, 19, 3, 36, 9])
        ]
    part_filtered = part_filtered.loc[:, ["P_PARTKEY", "P_BRAND", "P_TYPE", "P_SIZE"]]
    partsupp_filtered = partsupp.loc[:, ["PS_PARTKEY", "PS_SUPPKEY"]]
    total = part_filtered.merge(
        partsupp_filtered, left_on="P_PARTKEY", right_on="PS_PARTKEY", how="inner"
    )
    total = total.loc[:, ["P_BRAND", "P_TYPE", "P_SIZE", "PS_SUPPKEY"]]
    supplier_filtered = supplier[
        supplier["S_COMMENT"].str.contains("Customer(\S|\s)*Complaints")
    ]
    supplier_filtered = supplier_filtered.loc[:, ["S_SUPPKEY"]].drop_duplicates()
    # left merge to select only PS_SUPPKEY values not in supplier_filtered
    total = total.merge(
        supplier_filtered, left_on="PS_SUPPKEY", right_on="S_SUPPKEY", how="left"
    )
    total = total[total["S_SUPPKEY"].isna()]
    total = total.loc[:, ["P_BRAND", "P_TYPE", "P_SIZE", "PS_SUPPKEY"]]
    total = total.groupby(["P_BRAND", "P_TYPE", "P_SIZE"], as_index=False)[
        "PS_SUPPKEY"
    ].nunique()
    total.columns = ["P_BRAND", "P_TYPE", "P_SIZE", "SUPPLIER_CNT"]
    total = total.sort_values(
        by=["SUPPLIER_CNT", "P_BRAND", "P_TYPE", "P_SIZE"],
        ascending=[False, True, True, True],
    )
    print(total.head())
    print("Q16 Execution time (s): ", time.time() - t1)


@bodo.jit
def q17(lineitem, part):
    t1 = time.time()
    left = lineitem.loc[:, ["L_PARTKEY", "L_QUANTITY", "L_EXTENDEDPRICE"]]
    right = part[((part["P_BRAND"] == "Brand#23") & (part["P_CONTAINER"] == "MED BOX"))]
    right = right.loc[:, ["P_PARTKEY"]]
    line_part_merge = left.merge(
        right, left_on="L_PARTKEY", right_on="P_PARTKEY", how="inner"
    )
    line_part_merge = line_part_merge.loc[
                      :, ["L_QUANTITY", "L_EXTENDEDPRICE", "P_PARTKEY"]
                      ]
    lineitem_filtered = lineitem.loc[:, ["L_PARTKEY", "L_QUANTITY"]]
    lineitem_avg = lineitem_filtered.groupby(["L_PARTKEY"], as_index=False).agg(
        avg=pd.NamedAgg(column="L_QUANTITY", aggfunc="mean")
    )
    lineitem_avg["avg"] = 0.2 * lineitem_avg["avg"]
    lineitem_avg = lineitem_avg.loc[:, ["L_PARTKEY", "avg"]]
    total = line_part_merge.merge(
        lineitem_avg, left_on="P_PARTKEY", right_on="L_PARTKEY", how="inner"
    )
    total = total[total["L_QUANTITY"] < total["avg"]]
    total = pd.DataFrame({"avg_yearly": [total["L_EXTENDEDPRICE"].sum() / 7.0]})
    print(total.head())
    print("Q17 Execution time (s): ", time.time() - t1)


@bodo.jit
def q18(lineitem, orders, customer):
    t1 = time.time()
    gb1 = lineitem.groupby("L_ORDERKEY", as_index=False)["L_QUANTITY"].sum()
    fgb1 = gb1[gb1.L_QUANTITY > 300]
    jn1 = fgb1.merge(orders, left_on="L_ORDERKEY", right_on="O_ORDERKEY")
    jn2 = jn1.merge(customer, left_on="O_CUSTKEY", right_on="C_CUSTKEY")
    gb2 = jn2.groupby(
        ["C_NAME", "C_CUSTKEY", "O_ORDERKEY", "O_ORDERDATE", "O_TOTALPRICE"],
        as_index=False,
    )["L_QUANTITY"].sum()
    total = gb2.sort_values(["O_TOTALPRICE", "O_ORDERDATE"], ascending=[False, True])
    print(total.head(10))
    print("Q18 Execution time (s): ", time.time() - t1)


@bodo.jit
def q19(lineitem, part):
    t1 = time.time()
    Brand31 = "Brand#31"
    Brand43 = "Brand#43"
    SMBOX = "SM BOX"
    SMCASE = "SM CASE"
    SMPACK = "SM PACK"
    SMPKG = "SM PKG"
    MEDBAG = "MED BAG"
    MEDBOX = "MED BOX"
    MEDPACK = "MED PACK"
    MEDPKG = "MED PKG"
    LGBOX = "LG BOX"
    LGCASE = "LG CASE"
    LGPACK = "LG PACK"
    LGPKG = "LG PKG"
    DELIVERINPERSON = "DELIVER IN PERSON"
    AIR = "AIR"
    AIRREG = "AIRREG"
    lsel = (
            (
                    ((lineitem.L_QUANTITY <= 36) & (lineitem.L_QUANTITY >= 26))
                    | ((lineitem.L_QUANTITY <= 25) & (lineitem.L_QUANTITY >= 15))
                    | ((lineitem.L_QUANTITY <= 14) & (lineitem.L_QUANTITY >= 4))
            )
            & (lineitem.L_SHIPINSTRUCT == DELIVERINPERSON)
            & ((lineitem.L_SHIPMODE == AIR) | (lineitem.L_SHIPMODE == AIRREG))
    )
    psel = (part.P_SIZE >= 1) & (
            (
                    (part.P_SIZE <= 5)
                    & (part.P_BRAND == Brand31)
                    & (
                            (part.P_CONTAINER == SMBOX)
                            | (part.P_CONTAINER == SMCASE)
                            | (part.P_CONTAINER == SMPACK)
                            | (part.P_CONTAINER == SMPKG)
                    )
            )
            | (
                    (part.P_SIZE <= 10)
                    & (part.P_BRAND == Brand43)
                    & (
                            (part.P_CONTAINER == MEDBAG)
                            | (part.P_CONTAINER == MEDBOX)
                            | (part.P_CONTAINER == MEDPACK)
                            | (part.P_CONTAINER == MEDPKG)
                    )
            )
            | (
                    (part.P_SIZE <= 15)
                    & (part.P_BRAND == Brand43)
                    & (
                            (part.P_CONTAINER == LGBOX)
                            | (part.P_CONTAINER == LGCASE)
                            | (part.P_CONTAINER == LGPACK)
                            | (part.P_CONTAINER == LGPKG)
                    )
            )
    )
    flineitem = lineitem[lsel]
    fpart = part[psel]
    jn = flineitem.merge(fpart, left_on="L_PARTKEY", right_on="P_PARTKEY")
    jnsel = (
            (jn.P_BRAND == Brand31)
            & (
                    (jn.P_CONTAINER == SMBOX)
                    | (jn.P_CONTAINER == SMCASE)
                    | (jn.P_CONTAINER == SMPACK)
                    | (jn.P_CONTAINER == SMPKG)
            )
            & (jn.L_QUANTITY >= 4)
            & (jn.L_QUANTITY <= 14)
            & (jn.P_SIZE <= 5)
            | (jn.P_BRAND == Brand43)
            & (
                    (jn.P_CONTAINER == MEDBAG)
                    | (jn.P_CONTAINER == MEDBOX)
                    | (jn.P_CONTAINER == MEDPACK)
                    | (jn.P_CONTAINER == MEDPKG)
            )
            & (jn.L_QUANTITY >= 15)
            & (jn.L_QUANTITY <= 25)
            & (jn.P_SIZE <= 10)
            | (jn.P_BRAND == Brand43)
            & (
                    (jn.P_CONTAINER == LGBOX)
                    | (jn.P_CONTAINER == LGCASE)
                    | (jn.P_CONTAINER == LGPACK)
                    | (jn.P_CONTAINER == LGPKG)
            )
            & (jn.L_QUANTITY >= 26)
            & (jn.L_QUANTITY <= 36)
            & (jn.P_SIZE <= 15)
    )
    jn = jn[jnsel]
    total = (jn.L_EXTENDEDPRICE * (1.0 - jn.L_DISCOUNT)).sum()
    print(total)
    print("Q19 Execution time (s): ", time.time() - t1)


@bodo.jit
def q20(lineitem, part, nation, partsupp, supplier):
    t1 = time.time()
    date1 = pd.Timestamp("1996-01-01")
    date2 = pd.Timestamp("1997-01-01")
    psel = part.P_NAME.str.startswith("azure")
    nsel = nation.N_NAME == "JORDAN"
    lsel = (lineitem.L_SHIPDATE >= date1) & (lineitem.L_SHIPDATE < date2)
    fpart = part[psel]
    fnation = nation[nsel]
    flineitem = lineitem[lsel]
    jn1 = fpart.merge(partsupp, left_on="P_PARTKEY", right_on="PS_PARTKEY")
    jn2 = jn1.merge(
        flineitem,
        left_on=["PS_PARTKEY", "PS_SUPPKEY"],
        right_on=["L_PARTKEY", "L_SUPPKEY"],
    )
    gb = jn2.groupby(["PS_PARTKEY", "PS_SUPPKEY", "PS_AVAILQTY"], as_index=False)[
        "L_QUANTITY"
    ].sum()
    gbsel = gb.PS_AVAILQTY > (0.5 * gb.L_QUANTITY)
    fgb = gb[gbsel]
    jn3 = fgb.merge(supplier, left_on="PS_SUPPKEY", right_on="S_SUPPKEY")
    jn4 = fnation.merge(jn3, left_on="N_NATIONKEY", right_on="S_NATIONKEY")
    jn4 = jn4.loc[:, ["S_NAME", "S_ADDRESS"]]
    total = jn4.sort_values("S_NAME").drop_duplicates()
    print(total.head())
    print("Q20 Execution time (s): ", time.time() - t1)


@bodo.jit
def q21(lineitem, orders, supplier, nation):
    t1 = time.time()
    lineitem_filtered = lineitem.loc[
                        :, ["L_ORDERKEY", "L_SUPPKEY", "L_RECEIPTDATE", "L_COMMITDATE"]
                        ]

    # Keep all rows that have another row in linetiem with the same orderkey and different suppkey
    lineitem_orderkeys = (
        lineitem_filtered.loc[:, ["L_ORDERKEY", "L_SUPPKEY"]]
        .groupby("L_ORDERKEY", as_index=False)["L_SUPPKEY"]
        .nunique()
    )
    lineitem_orderkeys.columns = ["L_ORDERKEY", "nunique_col"]
    lineitem_orderkeys = lineitem_orderkeys[lineitem_orderkeys["nunique_col"] > 1]
    lineitem_orderkeys = lineitem_orderkeys.loc[:, ["L_ORDERKEY"]]

    # Keep all rows that have l_receiptdate > l_commitdate
    lineitem_filtered = lineitem_filtered[
        lineitem_filtered["L_RECEIPTDATE"] > lineitem_filtered["L_COMMITDATE"]
        ]
    lineitem_filtered = lineitem_filtered.loc[:, ["L_ORDERKEY", "L_SUPPKEY"]]

    # Merge Filter + Exists
    lineitem_filtered = lineitem_filtered.merge(
        lineitem_orderkeys, on="L_ORDERKEY", how="inner"
    )

    # Not Exists: Check the exists condition isn't still satisfied on the output.
    lineitem_orderkeys = lineitem_filtered.groupby("L_ORDERKEY", as_index=False)[
        "L_SUPPKEY"
    ].nunique()
    lineitem_orderkeys.columns = ["L_ORDERKEY", "nunique_col"]
    lineitem_orderkeys = lineitem_orderkeys[lineitem_orderkeys["nunique_col"] == 1]
    lineitem_orderkeys = lineitem_orderkeys.loc[:, ["L_ORDERKEY"]]

    # Merge Filter + Not Exists
    lineitem_filtered = lineitem_filtered.merge(
        lineitem_orderkeys, on="L_ORDERKEY", how="inner"
    )

    orders_filtered = orders.loc[:, ["O_ORDERSTATUS", "O_ORDERKEY"]]
    orders_filtered = orders_filtered[orders_filtered["O_ORDERSTATUS"] == "F"]
    orders_filtered = orders_filtered.loc[:, ["O_ORDERKEY"]]
    total = lineitem_filtered.merge(
        orders_filtered, left_on="L_ORDERKEY", right_on="O_ORDERKEY", how="inner"
    )
    total = total.loc[:, ["L_SUPPKEY"]]

    supplier_filtered = supplier.loc[:, ["S_SUPPKEY", "S_NATIONKEY", "S_NAME"]]
    total = total.merge(
        supplier_filtered, left_on="L_SUPPKEY", right_on="S_SUPPKEY", how="inner"
    )
    total = total.loc[:, ["S_NATIONKEY", "S_NAME"]]
    nation_filtered = nation.loc[:, ["N_NAME", "N_NATIONKEY"]]
    nation_filtered = nation_filtered[nation_filtered["N_NAME"] == "SAUDI ARABIA"]
    total = total.merge(
        nation_filtered, left_on="S_NATIONKEY", right_on="N_NATIONKEY", how="inner"
    )
    total = total.loc[:, ["S_NAME"]]
    total = total.groupby("S_NAME", as_index=False).size()
    total.columns = ["S_NAME", "NUMWAIT"]
    total = total.sort_values(by=["NUMWAIT", "S_NAME"], ascending=[False, True])
    print(total.head())
    print("Q21 Execution time (s): ", time.time() - t1)


@bodo.jit
def q22(customer, orders):
    t1 = time.time()
    customer_filtered = customer.loc[:, ["C_ACCTBAL", "C_CUSTKEY"]]
    customer_filtered["CNTRYCODE"] = customer["C_PHONE"].str.slice(0, 2)
    customer_filtered = customer_filtered[
        (customer["C_ACCTBAL"] > 0.00)
        & customer_filtered["CNTRYCODE"].isin(
            ["13", "31", "23", "29", "30", "18", "17"]
        )
    ]
    avg_value = customer_filtered["C_ACCTBAL"].mean()
    customer_filtered = customer_filtered[customer_filtered["C_ACCTBAL"] > avg_value]
    # Select only the keys that don't match by performing a left join and only selecting columns with an na value
    orders_filtered = orders.loc[:, ["O_CUSTKEY"]].drop_duplicates()
    customer_keys = customer_filtered.loc[:, ["C_CUSTKEY"]].drop_duplicates()
    customer_selected = customer_keys.merge(
        orders_filtered, left_on="C_CUSTKEY", right_on="O_CUSTKEY", how="left"
    )
    customer_selected = customer_selected[customer_selected["O_CUSTKEY"].isna()]
    customer_selected = customer_selected.loc[:, ["C_CUSTKEY"]]
    customer_selected = customer_selected.merge(
        customer_filtered, on="C_CUSTKEY", how="inner"
    )
    customer_selected = customer_selected.loc[:, ["CNTRYCODE", "C_ACCTBAL"]]
    agg1 = customer_selected.groupby(["CNTRYCODE"], as_index=False).size()
    agg1.columns = ["CNTRYCODE", "NUMCUST"]
    agg2 = customer_selected.groupby(["CNTRYCODE"], as_index=False).agg(
        TOTACCTBAL=pd.NamedAgg(column="C_ACCTBAL", aggfunc="sum")
    )
    total = agg1.merge(agg2, on="CNTRYCODE", how="inner")
    total = total.sort_values(by=["CNTRYCODE"], ascending=[True])
    print(total)
    print("Q22 Execution time (s): ", time.time() - t1)

In [16]:
run_queries(iceberg_url)

%px:   0%|          | 0/72 [00:00<?, ?tasks/s]

[stdout:0] ################################################################################################################################
Hello
################################################################################################################################
  L_RETURNFLAG L_LINESTATUS  L_QUANTITY  L_EXTENDEDPRICE    DISC_PRICE  \
1            A            F  37734107.0     5.658655e+10  5.375826e+10
2            N            F    991417.0     1.487505e+09  1.413082e+09
3            N            O  74476040.0     1.117017e+11  1.061182e+11
0            R            F  37719753.0     5.656804e+10  5.374129e+10

         CHARGE    AVG_QTY     AVG_PRICE  L_DISCOUNT  L_ORDERKEY
1  5.590907e+10  25.522006  38273.129735    0.049985     1478493
2  1.469649e+09  25.516472  38284.467761    0.050093       38854
3  1.103670e+11  25.502227  38249.117989    0.049997     2920374
0  5.588962e+10  25.505794  38250.854626    0.050009     1478870
Q01 Execution time (s):  0.031027521078613063
     S_ACCTBAL              S_NAME          N_NAME  P_PARTKEY          P_MFGR  \
232    9938.53  Supplier#000005359  UNITED KINGDOM     185358  Manufacturer#4
126    9937.84  Supplier#000005969         ROMANIA     108438  Manufacturer#1
77     9936.22  Supplier#000005250  UNITED KINGDOM        249  Manufacturer#4
128    9923.77  Supplier#000002324         GERMANY      29821  Manufacturer#4
142    9871.22  Supplier#000006373         GERMANY      43868  Manufacturer#5

                             S_ADDRESS          S_PHONE  \
232           QKuHYh,vZGiwu2FWEJoLDx04  33-429-790-6131
126  ANDENSOSmk,miq23Xfb5RWt6dvUcvt6Qa  29-520-692-3537
77               B3rqp0xbSEim4Mpy2RH J  33-320-228-2957
128                       y3OD9UywSTOk  17-779-299-1839
142                         J8fcXWsTqM  17-813-485-8637

                                             S_COMMENT
232                      uriously regular requests hag
126  efully express instructions. regular requests ...
77   etect about the furiously final accounts. slyl...
128  ackages boost blithely. blithely regular depos...
142  etect blithely bold asymptotes. fluffily ironi...
Q02 Execution time (s):  0.05966328723980041
      L_ORDERKEY          TMP O_ORDERDATE  O_SHIPPRIORITY
4567      950759  405195.7089  1995-02-21               0
1549     2113221  400959.3634  1995-02-19               0
4728     1902471  400497.3847  1995-03-01               0
9141      519556  390030.5160  1995-02-15               0
9675     2529826  387365.1560  1995-02-17               0
3636     2707908  383352.7514  1995-02-23               0
8805     3900355  379078.4143  1995-02-13               0
9032      247302  376352.4222  1995-03-03               0
4988     2906022  370116.1556  1995-02-27               0
7368     1062786  368331.4043  1995-02-10               0
Q03 Execution time (s):  1.8009609635378183
   O_ORDERPRIORITY  O_ORDERKEY
3         1-URGENT       10524
0           2-HIGH       10402
1         3-MEDIUM       10355
4  4-NOT SPECIFIED       10505
2            5-LOW       10604
Q04 Execution time (s):  2.0790877480899326
    N_NAME           TMP
3  VIETNAM  5.485584e+07
Q05 Execution time (s):  0.5286984655781453
185899682.719
Q06 Execution time (s):  0.004982135735190241
  SUPP_NATION CUST_NATION  L_YEAR       REVENUE
0      FRANCE     GERMANY    1995  5.463973e+07
1      FRANCE     GERMANY    1996  5.463308e+07
3     GERMANY      FRANCE    1995  5.253175e+07
2     GERMANY      FRANCE    1996  5.252055e+07
Q07 Execution time (s):  0.09221224998600519
Empty DataFrame
Columns: [O_YEAR, MKT_SHARE]
Index: []
Q08 Execution time (s):  0.09006327820679871
      N_NAME  O_YEAR           TMP
39   ALGERIA    1998  2.865988e+07
6    ALGERIA    1997  4.876394e+07
98   ALGERIA    1996  4.946372e+07
173  ALGERIA    1995  4.740625e+07
101  ALGERIA    1994  4.739906e+07
Q09 Execution time (s):  0.36084460447409583
       C_CUSTKEY              C_NAME  C_ACCTBAL          C_PHONE  \
21862       3679  Customer#000003679    9524.03  12-889-241-4764
4997      129319  Customer#000129319    1596.91  18-847-791-1743
30381      54652  Customer#000054652    5194.32  16-280-751-9726
38090     131659  Customer#000131659    1892.16  27-917-117-2085
18618      87730  Customer#000087730    1733.77  21-677-895-9046
12675      12655  Customer#000012655    8151.35  16-474-264-8896
25468      76792  Customer#000076792    3692.02  29-810-373-4912
5698      135823  Customer#000135823    2749.81  13-792-864-2072
18279     129700  Customer#000129700    3591.75  24-525-467-4857
30806      16372  Customer#000016372    9203.22  21-130-489-7118
27429     104425  Customer#000104425     948.22  12-460-420-3433
25284     114445  Customer#000114445    2187.53  33-929-232-8766
34273      83911  Customer#000083911    9546.00  12-804-305-2192
28446     128755  Customer#000128755    -398.17  27-978-836-9316
15094     122638  Customer#000122638    5859.87  33-200-374-6809
489        33859  Customer#000033859     736.03  15-777-264-6894
29221     121501  Customer#000121501    5092.70  11-314-355-2213
31427      40912  Customer#000040912    8065.31  13-559-372-9505
15003      33632  Customer#000033632    6107.19  25-548-255-8085
722        24712  Customer#000024712    8173.45  28-604-818-8639

               N_NAME                            C_ADDRESS  \
21862          BRAZIL                        ,0knwwvd9aIq7
4997            INDIA          5rOPv3XaHztVrH nqgmh0GRKGtz
30381          FRANCE              JiDEOIkbkUq CExAE8mTRzu
38090            PERU            bg627y0YSSLckR60suNx26ane
18618            IRAQ         KbruLePDPY7dHawOvFu7kc6FmdPb
12675          FRANCE          HwiQ6yd4gkZ1X17VbCWdD5BKxkd
25468         ROMANIA                 nPDdgGuaqI48XQMqQD0c
5698           CANADA       9YXpsaVomzltfCc59rclW EGMA uOY
18279           KENYA                  5iUqDGJUTJ7We0xoD1f
30806            IRAQ  4c9z6hQV1SZLU0pwmC1X3y35cknwy3a98xq
27429          BRAZIL                          EIwGI61KrYp
25284  UNITED KINGDOM                    mrhYo1rwG2wyifK8v
34273          BRAZIL         CeCgGeUHInUT Dyc1lKddfET7OGl
28446            PERU               ,tL1Jezfvf1eDHlxeQQVyM
15094  UNITED KINGDOM             la5b7VonTJf4d6kMxfhEfsG4
489          ETHIOPIA                          gKSkGmDoUQo
29221       ARGENTINA  GcgHZeFIhn,JDIHQV9 4nVQDNCiLA3Q3AHK
31427          CANADA                   J0fq6AR1sj8jyFASzb
15003         MOROCCO                     iFRNP,5pLmNeMdZx
722             CHINA                yrxH9ke3,arUxCO48JRhu

                                               C_COMMENT          TMP
21862  tegrate furiously fluffy platelets. quickly fi...  780222.0795
4997   ear the fluffily unusual requests. furiously q...  695749.6994
30381  ly against the slyly final deposits. blithely ...  670931.9802
38090        ly regular accounts wake furiously. package  612228.3351
18618   haggle to the blithely regular sauternes. flu...  595454.3375
12675  rmanently regular patterns use carefully: even...  594241.1100
25468  thely: regular, bold packages after the even, ...  585052.9511
5698    regular deposits. instructions are behind the...  580405.6566
18279   packages. carefully unusual accounts cajole r...  576781.9546
30806            carefully unusual accounts dazzle theod  574583.0376
27429      the instructions use slyly even requests. flu  571610.5034
25284              blithely blithely even deposits. care  569960.9554
34273  es try to use against the accounts. slyly spec...  566619.9697
28446   furiously regular accounts nag. regular depen...  557493.8084
15094   express deposits haggle final foxes. foxes sl...  553512.6490
489    lithely ironic pinto beans. blithely special t...  552668.4598
29221                 ckly carefully even requests: unus  550749.8208
31427  xpress pinto beans grow furiously fluffily bol...  550553.5348
15003  wake above the boldly pending deposits. blithe...  549946.7377
722    ly ironic accounts are blithely. quickly unusu...  549899.1300
Q10 Execution time (s):  0.19002538437189287
       PS_PARTKEY        VALUE
28050      129760  17538456.86
4695       166726  16503353.92
10664      191287  16474801.97
15961      161758  16101755.54
28363       34452  15983844.72
29040      139035  15907078.34
23539        9403  15451755.62
9726       154358  15212937.88
9677        38823  15064802.86
28416       85606  15053957.15
16375       33354  14408297.40
8100       154747  14407580.68
13715       82865  14235489.78
9728        76094  14094247.04
19614         222  13937777.74
17072      121271  13908336.00
Q11 Execution time (s):  0.014124961253855872
  L_SHIPMODE    g1    g2
1       MAIL  6202  9324
0       SHIP  6200  9262
Q12 Execution time (s):  0.06227029360661618
    C_COUNT  CUSTDIST
30        0     50005
10        9      6641
31       10      6532
32       11      6014
36        8      5937
Q13 Execution time (s):  0.03337294939683488
16.47144194577228
Q14 Execution time (s):  0.0415200587108302
Empty DataFrame
Columns: [S_SUPPKEY, S_NAME, S_ADDRESS, S_PHONE, TOTAL_REVENUE]
Index: []
Q15 Execution time (s):  0.013508465950963
        P_BRAND                    P_TYPE  P_SIZE  SUPPLIER_CNT
7762   Brand#41        MEDIUM BRUSHED TIN       3            28
13930  Brand#54   STANDARD BRUSHED COPPER      14            27
14424  Brand#11      STANDARD BRUSHED TIN      23            24
7197   Brand#11  STANDARD BURNISHED BRASS      36            24
11717  Brand#15    MEDIUM ANODIZED NICKEL       3            24
Q16 Execution time (s):  0.059675403396795446
      avg_yearly
0  348406.054286
Q17 Execution time (s):  0.05927220085141016
                C_NAME  C_CUSTKEY  O_ORDERKEY O_ORDERDATE  O_TOTALPRICE  \
30  Customer#000128120     128120     4722021  1994-04-07     544089.09
19  Customer#000144617     144617     3043270  1997-02-12     530604.44
53  Customer#000013940      13940     2232932  1997-04-13     522720.61
15  Customer#000066790      66790     2199712  1996-09-30     515531.82
37  Customer#000046435      46435     4745607  1997-07-03     508047.99
11  Customer#000015272      15272     3883783  1993-07-28     500241.33
21  Customer#000146608     146608     3342468  1994-06-12     499794.58
4   Customer#000096103      96103     5984582  1992-03-16     494398.79
32  Customer#000024341      24341     1474818  1992-11-15     491348.26
3   Customer#000137446     137446     5489475  1997-05-23     487763.25

    L_QUANTITY
30       323.0
19       317.0
53       304.0
15       327.0
37       309.0
11       302.0
21       303.0
4        312.0
32       302.0
3        311.0
Q18 Execution time (s):  0.028054959320343187
4930483.7774
Q19 Execution time (s):  0.004612258953784476
                 S_NAME                        S_ADDRESS
99   Supplier#000003312  EJLnCuuCYgvPJ9AxZlBui4hlCowVP1M
150  Supplier#000004537                Ac1Iq2Xcl tTCTWf,
Q20 Execution time (s):  0.04524585953959104
                 S_NAME  NUMWAIT
256  Supplier#000002829       20
245  Supplier#000005808       18
30   Supplier#000000262       17
159  Supplier#000000496       17
252  Supplier#000002160       17
Q21 Execution time (s):  0.16801217715055827
  CNTRYCODE  NUMCUST  TOTACCTBAL
2        13      888  6737713.99
1        17      861  6460573.72
6        18      964  7236687.40
5        23      892  6701457.95
3        29      948  7158866.63
0        30      909  6808436.13
4        31      922  6806670.18
Q22 Execution time (s):  0.06471610255539417
Total Query time (s):  5.832375349800714
################################################################################################################################
total execution time :  90.03736447745723
Execution Completed:..

[stderr:0] /opt/conda/lib/python3.10/site-packages/bodo/io/parquet_pio.py:861: BodoWarning: Total number of row groups in parquet dataset ['s3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00000-1-96b67062-b249-4e91-a139-37ecf0d34015-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00001-2-b449f2ba-5736-4b48-a705-bc54b6790907-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00002-3-4b893077-86f3-47df-b6a5-2e44e1088da1-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00003-4-99de0a1d-39c5-43ee-a3d5-fc5082fbd960-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00004-5-d52eeda9-1593-4978-b486-c20b16206692-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00005-6-763d3a9c-9108-4736-8db5-978616c328d7-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00006-7-0f4bff4d-687e-4371-beb3-b9929b3feba4-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00007-8-b911df3a-eb8b-40bc-8c15-4bff4fc1c53d-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00008-9-a29667c7-0ef7-4af1-ac59-007fc080e9cc-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00009-10-02c2ff70-b43f-426f-95ac-5ebc6cb7d9d6-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00010-11-d20230ef-fb99-4a94-a8e7-1b3e93a9b4cf-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00011-12-ac6d21ff-2227-47a6-b8a2-0752ad4e17bf-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00012-13-f85b0020-0c63-4034-8f05-e4a391b42d4b-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00013-14-f6525ddd-d45d-4ed3-91e4-66b4635fe6b5-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00014-15-a6fb2dcb-1766-426b-ade2-389a8cbcab6e-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00015-16-a27483cc-bbe5-42ff-804b-372ab62d073d-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00016-17-8e59f20c-ab63-4283-bc4e-08f5fa6dac14-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00017-18-f9825ef2-4853-4840-b257-0ff5efc3ff34-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00018-19-02c07272-51ec-4cbe-9272-8c85f377bbc1-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00019-20-8c05de66-1584-4863-ae5c-2b0372d34854-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00020-21-609768a1-2cf5-4f39-ab3f-441be63d8d4e-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00021-22-5a45eb75-ec1b-4bf9-86c7-377c654846c3-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00022-23-b65c8c6b-43ff-48e4-8f4a-eb110b8cf871-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00023-24-ebe37247-663a-4dcf-8193-5751fd6f0c04-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00024-25-7dd8fa44-2a77-4e21-9a6c-72a728e9969a-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00025-26-66dd3932-1b6e-4402-9649-f7ab8ba4d24a-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00026-27-ece39ff3-15c2-401b-93bb-5c4ce699473c-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00027-28-dc7a15b7-5731-4e7b-a0e1-d00a1d007637-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00028-29-20595c6e-fc0f-42c7-9b63-2c1caf373934-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00029-30-6699ba70-0221-4949-9e01-3dceeb785113-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00030-31-ee864d08-5bb4-4fd2-b2ea-9933d2902de2-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00031-32-1adf45b7-9994-4c25-9a34-c71a74d9df16-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00032-33-23f42b57-56e9-4dcd-952b-97ab8649f0a5-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00033-34-c3832889-7367-4f99-975b-acceede2535c-00001.parquet', 's3://bodo-iceberg-test2/arctic_test/SF1_LINEITEM_PQ_A/data/00034-35-181e37c8-960e-4cf0-9a49-4f819e9fed4f-00001.parquet'] (35) is too small for effective IO parallelization.
For best performance the number of row groups should be greater than the number of workers (72). For more details, refer to
https://docs.bodo.ai/latest/file_io/#parquet-section.

  warnings.warn(BodoWarning(
/opt/conda/lib/python3.10/site-packages/bodo/io/parquet_pio.py:873: BodoWarning: Parquet average row group size is small (245933 bytes) and can have negative impact on performance when reading from remote sources
  warnings.warn(BodoWarning(
/opt/conda/lib/python3.10/site-packages/bodo/io/parquet_pio.py:861: BodoWarning: Total number of row groups in parquet dataset ['s3://bodo-iceberg-test2/arctic_test/SF1_NATION_PQ/data/00000-4618-24dac75a-766f-4dc7-86b3-044b7f127d63-00001.parquet'] (1) is too small for effective IO parallelization.
For best performance the number of row groups should be greater than the number of workers (72). For more details, refer to
https://docs.bodo.ai/latest/file_io/#parquet-section.

  warnings.warn(BodoWarning(
/opt/conda/lib/python3.10/site-packages/bodo/io/parquet_pio.py:861: BodoWarning: Total number of row groups in parquet dataset ['s3://bodo-iceberg-test2/arctic_test/SF1_REGION_PQ/data/00000-4620-369f4363-2847-4c6c-a881-a7d8fef978e4-00001.parquet'] (1) is too small for effective IO parallelization.
For best performance the number of row groups should be greater than the number of workers (72). For more details, refer to
https://docs.bodo.ai/latest/file_io/#parquet-section.

  warnings.warn(BodoWarning(
/opt/conda/lib/python3.10/site-packages/bodo/io/parquet_pio.py:861: BodoWarning: Total number of row groups in parquet dataset ['s3://bodo-iceberg-test2/arctic_test/SF1_SUPPLIER_PQ/data/00000-4622-d4f69b6b-ccea-4a02-9725-a8d079962c77-00001.parquet'] (1) is too small for effective IO parallelization.
For best performance the number of row groups should be greater than the number of workers (72). For more details, refer to
https://docs.bodo.ai/latest/file_io/#parquet-section.

  warnings.warn(BodoWarning(

[stdout:67] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
20230        8114  7933921.88
4586        71518  7932261.69
1516        72922  7930400.64
5248       146699  7929167.40
16107       92387  7928972.67
25294      186289  7928786.19
20137       95952  7927972.78
4091       196514  7927180.70
1720         4403  7925729.04
17901        2267  7925649.37
6751        45924  7925047.68
15632       11493  7916722.23
21106      104478  7916253.60
7590       166794  7913842.00
23338      161995  7910874.27
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:62] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
24423      121622  8018462.17
20430       14357  8016906.30
22144      135601  8016209.44
10649       58458  8016192.52
29209       73036  8015799.00
15358      184722  8015680.31
27034      151664  8014821.96
13194      195090  8012680.20
21442      162609  8011241.00
17403       83532  8009753.85
14457       50166  8007137.89
11221      181562  8006805.96
20748      175165  8005319.76
15425       62500  8005316.28
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:52] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
26210      123786  8239581.24
28544       70843  8237973.20
2311       112437  8236907.52
11264        5436  8236039.57
25961      163754  8235471.16
2989       115945  8234811.36
3182        27918  8233957.88
27710      105712  8233571.86
1212        41007  8229431.79
5386        40476  8226640.41
26577      145620  8221371.60
8085         7771  8220413.33
24054       86424  8215572.61
25918      129137  8215478.40
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:46] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
15258      194020  8375157.64
21294        7117  8373982.27
9557       120146  8373796.20
7652       126843  8370761.28
26494       62117  8369493.44
25231      111221  8367525.81
677        159337  8366092.26
3420       173903  8365428.48
3232       136438  8364065.45
7011        56684  8363198.00
303        137597  8363185.94
1880        20039  8361138.24
19520      121326  8359635.52
2570        48435  8352863.10
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:22] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
2860        82628  9160155.54
5782        41399  9148338.00
5851        30755  9146196.84
7238         6944  9143574.58
6841         6326  9138803.16
12694      101296  9135657.62
7484       181479  9121093.30
5234        76898  9120983.10
14225       64274  9118745.25
12556      175826  9117387.99
18244      142215  9116876.88
29465      103415  9113128.62
14012      119765  9110768.79
4989       107624  9108837.45
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:26] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
9199       172046  8982469.52
5018        70476  8967629.50
28278      124988  8966805.22
8689        17937  8963319.76
27048      177372  8954873.64
304        137994  8950916.79
13640       84019  8950039.98
26393       40389  8946158.20
5053        69187  8941054.14
10419        4863  8939044.92
25092       50465  8930503.14
7384        43686  8915543.84
6642       131352  8909053.59
14594      198916  8906940.03
25421      135932  8905282.95
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:54] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
19887       71271  8185519.24
9226         1115  8184903.38
26205      152636  8184530.72
950        151619  8182909.05
7802       116943  8181072.69
21461       28891  8181051.54
25787       47049  8180955.00
27198      158827  8180470.90
703         92620  8179671.55
7658        20814  8176953.54
8818       179323  8176795.55
13995      193453  8174343.94
12009       56888  8173342.00
25548       28087  8169876.30
15314      164254  8169632.35
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:42] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
27931       33823  8469721.44
13890       39055  8469145.07
18392       91471  8468874.56
22365      142299  8466039.55
23344       97672  8464119.80
16024      134712  8461781.79
29577      157988  8460123.20
12221      102284  8458652.44
26761       73533  8458453.32
6810        90599  8457874.86
21320      112160  8457863.36
11809      124792  8457633.70
7560        66097  8457573.15
14507      165271  8456969.01
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:50] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
19151       64473  8286137.44
19308      149553  8285714.88
20790      151284  8283526.65
8693       171091  8282934.36
18954      194256  8278985.34
20013         952  8276136.00
411        121541  8275390.26
3890       177664  8275315.20
1977        51117  8274504.30
30          66770  8273407.80
11258       37238  8272728.06
7623        46679  8270486.55
14921      165852  8268312.60
2403        99458  8266564.47
4250       114519  8265493.54
10133        7231  8264881.50
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:33] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
16561       41335  8714773.80
29668      197450  8714617.32
28211       87004  8714017.79
12903      181804  8712257.76
1861       122814  8711119.14
11808      109939  8709193.16
9001        98094  8708780.04
8546        74630  8708040.75
11984      197291  8706519.09
21079      184173  8705467.45
16065      192175  8705411.12
3378        19471  8702536.12
9984        18052  8702155.70
2329       135560  8698137.72
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:34] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
6001       152791  8697325.80
16584      170953  8696909.19
28866      116137  8696687.17
3950         7722  8696589.40
2966        49788  8694846.71
17480       13252  8694822.42
14185       12633  8694559.36
22176      193438  8690426.72
20244       17326  8689329.16
15563       96124  8679794.58
25221      143802  8676626.48
2531        30389  8675826.60
23010       75250  8675257.14
7317        72613  8673524.94
3945       123520  8672456.25
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:44] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
4073        55981  8419434.38
5245       100960  8419403.46
26139      172568  8417955.21
25239       63135  8415945.53
20586      137651  8413170.35
10221      191353  8413039.84
2554        62988  8411571.48
10077      103417  8411541.12
26477       12052  8411519.28
28143      104260  8408516.55
28010      157129  8405730.08
18869       77254  8405537.22
8512       112966  8403512.89
15713      168114  8402764.56
9167        49940  8402328.20
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:15] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
6000       152213  9494756.96
24025      121203  9492601.30
14986       70114  9491012.30
16754      167588  9484741.11
4913       136455  9476241.78
12525        4357  9464355.64
8489         6786  9463632.57
15617       61345  9455336.70
27904      160826  9446754.84
3759        71275  9440138.40
8107        77746  9439118.35
23738       91289  9437472.00
20227       56723  9435102.16
26089       86647  9434604.18
2916       131234  9432120.00
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:58] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
19619      102237  8089103.22
2431        43041  8086537.90
4203       110219  8085296.90
7233       126738  8084199.20
1766        44787  8083628.40
5025        31277  8083580.76
3211        93595  8082188.80
28525      189040  8080257.21
25442       59851  8079024.24
18         175100  8077904.01
13241       43429  8076729.96
4784       154199  8074940.76
11453       60963  8073894.40
28909        8768  8072760.96
3403        66095  8071421.70
21138      111552  8068184.48
14708       24563  8067500.40
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:3] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
23942        9035  12863828.70
7996       144616  12853549.30
19612      176723  12832309.74
4548       170884  12792136.58
22718       29790  12723300.33
13999       95213  12555483.73
21870      183873  12550533.05
17423      171235  12476538.30
18432       21533  12437821.32
8686        17290  12432159.50
14401      156397  12260623.50
10997      122611  12222812.98
24867      139155  12220319.25
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:25] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
19591      178258  9019881.66
11830       15560  9017687.28
15011      111425  9016198.56
28391       95942  9015585.12
18965      132709  9015240.15
22490       39731  9014746.95
7252       154307  9012571.20
17024       23769  9008157.60
4060        93328  9007211.20
19902      142826  8998297.44
13739      188792  8996014.00
2955        68703  8994982.22
18346      145280  8990941.05
16749      150725  8985686.16
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:64] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
16248        5824  7985340.02
28348      148579  7984889.56
26758       95888  7984735.72
27669        9791  7982699.79
7858       170437  7982370.72
5588        39782  7977858.24
594         20605  7977556.00
22712       28682  7976960.00
29256       42172  7973399.00
26862       56137  7971405.40
29390       64729  7970769.72
26317       98643  7968603.73
8888       153787  7967535.58
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:12] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
21274       14912  9803102.20
28015      190906  9791315.70
391        130398  9781674.27
28029      119310  9776927.21
22597       10132  9770930.78
19460      107211  9757586.25
3522       113958  9757065.50
5479        37009  9748362.69
20759       66746  9743528.76
3982       134486  9731922.00
24558       15945  9731096.45
2429        55307  9717745.80
4523        56362  9714922.83
28905       57726  9711792.10
4117        57256  9708621.00
3520       112292  9701653.08
19552       87514  9699492.53
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:56] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
22343      130854  8145338.85
25717      186865  8143586.82
13877      176629  8141411.20
3583       193739  8141377.77
9289         6810  8139822.60
1141        27732  8136724.96
26804       50616  8134089.82
15155      123908  8128920.54
18624      140994  8128470.82
15684       99039  8128290.78
12942       62735  8124940.50
12634       47829  8122796.50
27180      192635  8122687.57
4017       192429  8119268.00
18348      145812  8119165.63
25520       42896  8118529.80
9320       146877  8118266.16
19706       60882  8116095.04
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:37] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
19881      131007  8607394.82
6110       128715  8606833.62
20957       72522  8601479.98
27845      144061  8595718.74
2474        83503  8595034.20
23796      112199  8590717.44
12855        9227  8587350.42
9429       116318  8585910.66
20618       41248  8585559.64
20539      159398  8584821.00
26917      105966  8582308.79
8219       137876  8580641.30
17620      122272  8580400.77
3194       195717  8577278.10
23122      165295  8571121.92
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:11] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
8022       102589  10034784.36
4672       186268  10012181.57
28625       44545  10000286.48
4999        23307   9966577.50
27457      124281   9930018.90
16245       69604   9925730.64
26224       21971   9908982.03
22159       58148   9895894.40
22301       16532   9886529.90
21799      159180   9883744.43
1087        74733   9877582.88
2749        35173   9858275.92
10576        7116   9856881.02
28669      124620   9838589.14
13534      122108   9829949.35
5094        67200   9828690.69
29683      164775   9821424.44
4973         9039   9816447.72
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:36] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
13218       93581  8632372.36
3088        52804  8632109.25
20398         755  8627091.68
8271        16597  8623357.05
28398      119041  8622397.00
26552       89050  8621185.98
29608       98696  8620784.82
8974        94399  8620524.00
4293       151295  8616671.02
21885       56417  8613450.35
28186      121322  8612948.23
25384      126883  8611373.42
28891       29155  8610163.64
11744      114530  8608471.74
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:49] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
9742       101590  8304555.42
7205        46891  8302192.12
25685      138721  8301745.62
20080      113715  8301533.20
5428        78778  8299685.64
10837      142908  8299447.77
27399       64419  8297631.80
14348       21396  8296272.27
13397        4180  8295646.92
19526       63534  8295383.67
3115       135957  8294389.86
9946        30126  8291920.32
18514      158427  8288938.00
18398       14545  8288395.92
10195       75548  8288287.20
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:2] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
25515       55576  13306843.35
20966      159751  13306614.48
19777       92406  13287414.50
21026      182636  13223726.74
23206      199969  13135288.21
17855       62865  13001926.94
17635        7284  12945298.19
27654      197867  12944510.52
25436       11562  12931575.51
11463       75165  12916918.12
13907       97175  12911283.50
5403       140840  12896562.23
13425       65241  12890600.46
13469      166120  12876927.22
                 S_NAME                       S_ADDRESS
55   Supplier#000002031    JpBWuUSDxQY0GPkjS3ckp1GaGwxU
117  Supplier#000002310  E FGFgvWTLL3beRdu5V3mEVNaYvW61
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:1] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
13238       55221  13716120.47
29321       22819  13666434.28
29145       76281  13646853.68
23071       85298  13581154.93
25478       85158  13554904.00
5913       139684  13535538.72
21548       31034  13498025.25
447         87305  13482847.04
7714        10181  13445148.75
19112       62323  13411824.30
25068       26489  13377256.38
14752       96493  13339057.83
15768       56548  13329014.97
                S_NAME                      S_ADDRESS
14  Supplier#000002956  fEm5FTMzYzCKYZVbtv8I0dAXguqSd
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:23] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
14854       84215  9105257.36
2373        73774  9102651.92
12192      173972  9102069.00
27777       69817  9095513.88
17893       86943  9092253.00
8784       138859  9087719.30
14481      162273  9085296.48
12162      175945  9080401.21
25165       16836  9075715.44
29763       70224  9075265.95
22013      139765  9074755.89
9947        30319  9073233.10
12154        3851  9072657.24
28537      181271  9070631.52
29266      162184  9068835.78
9052        81683  9067258.47
23348      153028  9067010.51
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:38] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
26079        5840  8570728.74
24422      120860  8570610.44
15891       66692  8567540.52
4394       135596  8563276.31
64         150576  8562794.10
23369        7500  8562393.84
14128      107716  8561541.56
18877      100611  8559995.85
16177      171192  8557390.08
363        107660  8556696.60
12093       13461  8556545.12
22921       90310  8555131.51
28917      141493  8553782.93
3317        71286  8552682.00
14473      136423  8551300.76
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:41] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
28296       14773  8500598.28
21897      140446  8499514.24
7906       199641  8497362.59
6795       109240  8494617.12
15912      150268  8494188.38
12570       45310  8492380.65
11696       36552  8490733.60
1270       199690  8490145.80
21914      185353  8488726.68
16964      163615  8484985.01
23919      196520  8483545.04
28841      133438  8483482.35
14360       77285  8481442.32
7789        55824  8476893.90
10161       76753  8475522.12
538         46129  8472717.96
21036       28358  8472515.50
12013        9317  8472145.32
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:30] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
25339       39438  8805282.56
20685       70795  8800060.92
22543       20383  8799073.28
18012       21952  8798624.19
19114       63584  8796590.00
7328       158768  8796422.95
1790       166588  8796214.38
12933      120600  8793558.06
16056      157202  8788287.88
1176        55358  8786820.75
15284      168322  8786670.73
17161       25143  8786324.80
26969        5368  8786274.14
26542      114025  8786201.12
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:29] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
835         71229  8846106.99
18391       91208  8845541.28
11066       10995  8845306.56
23981       78094  8839938.29
28577       36489  8838538.10
21124      198437  8836494.84
11329      151693  8833807.64
21512      185367  8829791.37
22003       65682  8820622.89
9993        65421  8819329.24
5200       122225  8816821.86
16089       85330  8811013.16
20733       64555  8810643.12
14154      104188  8808211.02
3647        54411  8805703.40
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:18] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
29315      170007  9345699.90
26754      193087  9343744.00
14698      150383  9332576.75
13132       60932  9329582.02
12784      128420  9328206.35
3236       162145  9327722.88
6130        55686  9320304.40
28080      163080  9304916.96
1413       160583  9303515.92
18510      118153  9298606.56
15973      152634  9282184.57
19745       84731  9276586.92
26767      119989  9273814.20
28611      114584  9269698.65
15389      131817  9268570.08
7416        29068  9256583.88
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:48] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
8485       126730  8325974.40
1053        77525  8323282.50
28129      170653  8322840.50
21983        5257  8320350.78
29413       67350  8318987.56
20408      109008  8317836.54
19087      199043  8316603.54
17106      139969  8316551.54
26440       22634  8316531.24
9633       173309  8315750.25
1927        10887  8315019.36
27244       42392  8312895.96
17624      126040  8312623.20
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:6] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
10285      116033  11145434.36
18096      129058  11119112.20
22617      193714  11104706.39
21437      117195  11077217.96
6698        49851  11043701.78
5068        19791  11030662.62
6059        75800  11012401.62
1006       161562  10996371.69
21353       10119  10980015.75
20416       39185  10970042.56
21261       47223  10950022.13
4641       175594  10942923.05
5873       111295  10893675.61
27132      155446  10852764.57
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:4] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
28751      146316  12215800.61
2058       171381  12199734.52
18675      198633  12078226.95
25747      167417  12046637.62
7298        59512  12043468.76
14991       31688  12034893.64
16913      159586  12001505.84
21049        8993  11963814.30
849        120302  11857707.55
19794       43536  11779340.52
29301        9552  11776909.16
26517       86223  11772205.08
8502        53776  11758669.65
28968      131285  11616953.74
27902       91628  11611114.83
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:69] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
28530      105235  7897829.94
16014       77207  7897752.72
7218        96712  7897575.27
2344        10157  7897046.25
5409       171154  7896814.50
23984       79373  7896186.00
22985      113808  7893353.88
20543       27901  7892952.00
24288      128820  7892882.72
23714       25891  7890511.20
22100      122819  7888881.02
28333      154731  7888301.33
2722       101674  7879324.60
6546        51968  7879102.21
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:17] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
20918       60884  9403442.40
8458        15209  9403245.31
19955      138049  9401262.10
24808      199286  9391770.70
4229        19629  9391236.40
8534       134019  9390615.15
2817       169475  9387639.58
25134      165918  9379510.44
17255      135602  9374251.54
11144      162323  9367566.51
2666        96277  9360850.68
22200       98336  9359671.29
2772       119781  9356395.73
15627       34440  9355365.00
22728       57362  9355180.10
15093      167236  9352973.84
19627       38463  9347530.94
24852       86749  9346826.44
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:60] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
20915      149392  8049675.69
13574      101248  8048855.49
26417      140962  8047260.70
11276       87101  8046651.83
16936      133107  8046476.73
23280       45126  8045924.40
26518       87508  8042966.39
12233      124711  8042722.72
11767      173169  8042224.41
28607      175161  8041331.98
2628       167787  8040075.78
3821         3242  8038855.53
2594       114789  8038628.35
25944       43833  8038545.83
9489       141198  8035110.72
12815      137248  8034109.35
   S_SUPPKEY              S_NAME          S_ADDRESS          S_PHONE  \
0       8449  Supplier#000008449  Wp34zim9qYFbVctdW  20-469-856-8873

   TOTAL_REVENUE
0   1.772627e+06
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:16] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
19504      198129  9427651.36
15316      165530  9426193.68
12120       69233  9425053.92
1438         6243  9423304.66
541         90110  9420422.70
24643      191980  9419368.36
16340       38461  9419316.07
21224      167873  9419024.49
10239      159373  9416950.15
16930      128707  9413428.50
16724       45267  9410863.78
7945        48460  9409793.93
26372      197672  9406887.68
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:66] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
16111       93862  7951992.24
15668      158325  7950728.30
19791       55952  7950387.06
25377      122397  7947106.27
17780       28114  7946945.72
20113       11966  7945197.48
24149       47814  7944083.00
5728        85096  7943691.06
23476       51657  7943593.77
14908      196680  7943578.89
4196        13141  7942730.34
22615      193327  7941036.25
5196       152612  7940663.71
28605      139680  7939242.36
5450        31134  7938318.30
19579       45636  7937240.85
8253        56694  7936015.95
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:70] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
13172       72073  7877736.11
2961         5182  7874521.73
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:8] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
18876      100202  10696675.55
8229       197741  10688560.72
22682      169178  10648522.80
11706        5271  10639392.65
20932       34499  10584177.10
2526        71108  10569117.56
9859       137132  10539880.47
378         78451  10524873.24
17148      150827  10503810.48
11631      107237  10488030.84
11042      101727  10473558.10
19327       58708  10466280.44
13447       89768  10465477.22
13121      146493  10444291.58
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:20] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
7300       156004  9215557.90
17002      140740  9215329.20
22135      100648  9212185.08
22016      174774  9211718.00
10866       37644  9211578.60
23249       48807  9209496.24
6491        95940  9207948.40
2481       141586  9206699.22
27147      147248  9205654.95
15618       61372  9205228.76
15170       52970  9204415.95
248         26430  9203710.51
13275       28504  9201669.20
5569        25810  9198878.50
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:32] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
11176       41087  8749436.79
17715      194830  8747438.40
13678       43496  8743359.30
12070       30235  8741611.00
13633       26391  8741399.64
20520      191816  8740258.72
10532       47616  8737229.68
16802      152101  8734432.76
11146      163784  8730514.34
23245        5134  8728424.64
27512      155241  8725429.86
18652      188814  8724182.40
21056      140782  8720378.75
8070       153141  8719407.51
9026       169373  8718609.06
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:14] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
10057      167199  9557413.08
18812       38869  9550279.53
24449       86949  9541943.70
2534       198544  9538613.92
29201      193762  9538238.94
8423       108807  9536247.16
22216      168324  9535647.99
4646       115588  9532195.04
23950      141372  9529702.14
7970       175120  9526068.66
14083      163851  9522808.83
2661       160954  9520359.45
11977      117757  9517882.80
8499        52594  9508325.76
2336        60960  9498843.06
11228       70272  9495775.62
22029       44050  9495515.36
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:10] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
29362      111259  10263256.56
11928      195578  10239795.82
1445        21093  10217531.30
4111        29856  10216932.54
18100      133686  10213345.76
15867       87745  10185509.40
22994      135153  10179379.70
3560        11773  10167410.84
21313       76316  10165151.70
6417       123076  10161225.78
26187       91894  10130462.19
17578       39741  10128387.52
10403      111753  10119780.98
2537       142729  10104748.89
24717      116775  10097750.42
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:24] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
9701       123324  9061870.95
24479      186481  9058608.30
28649      167680  9052908.76
18148      165293  9050545.70
7228       122148  9046298.17
17908      138604  9045840.80
21095       78851  9044822.60
28864      137280  9042355.34
16993        8823  9040855.10
11982      163900  9040848.48
16875       75600  9035392.45
24332       81676  9031999.40
17580       46033  9031460.58
3621       194917  9028500.00
5745       133936  9026949.02
20855       33182  9024971.10
27550       34220  9021485.39
1881        20118  9019942.60
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:51] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
4620        19033  8264826.56
13499      125123  8262732.65
9168        18642  8261578.99
5342        50386  8261380.05
3160       193770  8259578.82
24989        7276  8258101.60
10039      178045  8253904.15
25657       49033  8253696.23
26561      187195  8251334.58
20111       10590  8249227.40
7499       143779  8247057.70
12727       35205  8245675.17
13811       19729  8245081.60
22883      144946  8240479.80
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:61] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
17604       96673  8033491.20
9697        32180  8032380.72
17555      166493  8031902.40
25699       66959  8031839.40
18523       85628  8029693.44
7928       110971  8029469.70
17051      130395  8027463.92
10578        7757  8026840.37
20378      178446  8025379.09
18606       41295  8024785.53
22987      100956  8024179.30
3756       131917  8021604.78
5566        24224  8020463.52
10896        2073  8020009.64
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:65] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
26407        8932  7967222.19
23371       20134  7965713.28
26371      197635  7963507.58
16537       80408  7963312.17
26074       37728  7961875.68
25476       26624  7961772.31
19575       44736  7961144.10
4110        29763  7960605.03
21580       36147  7959463.68
16020      146040  7957587.66
21628      115469  7957485.14
7910       142276  7956790.63
12902      181280  7954037.35
24075      115096  7953047.55
979        109650  7952258.73
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:53] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
23381       76020  8210495.36
10336      140213  8209831.80
22522       32379  8208338.88
13345      130616  8207715.75
10250      195469  8206609.80
8570       191805  8205147.75
5596        90906  8200951.20
18635      170910  8195558.01
2910       105399  8193122.63
1027       123798  8192385.97
10974       90218  8191689.16
1332       114766  8189339.54
19323       11289  8187354.72
16734      178308  8185750.50
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:63] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
14621       36342  8004333.40
19764      128435  8004242.88
12794       92516  8003836.80
25619       30802  8003710.88
14542      107418  8000430.30
15546       46620  7999778.35
17294      191803  7994734.15
23957      106343  7993087.76
25441       59362  7990397.46
16991        8329  7990052.90
28766       75133  7988244.00
17941      179023  7986829.62
27978      135899  7985726.64
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:55] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
2858        57661  8168848.16
27943        7363  8167538.05
22269      164499  8167512.08
5368       197557  8165940.45
20324        5495  8164805.22
1811          966  8163824.79
24282       98435  8161771.45
3496       127227  8161344.92
5729       194100  8160978.78
24342       40134  8160358.08
19047      107341  8159952.05
28321        6790  8158792.66
2828        43851  8157101.40
27233       51295  8156419.20
10870       69512  8151537.00
24736      164274  8149869.93
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:5] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
28063      169644  11567959.72
19012      182299  11567462.05
29505       33107  11453818.76
5838       104184  11436657.44
22023       67027  11419127.14
23309      176869  11371451.71
27723       30885  11369674.79
9849        54420  11345076.88
18936       72240  11313951.05
12580      178708  11294635.17
4505        81298  11273686.13
13628      158324  11243442.72
4920       117095  11242535.24
13478      176793  11237733.38
23253       86091  11177793.79
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:27] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
21524      104673  8903682.00
6402       152308  8903244.08
7694       135298  8900323.20
6479       156873  8899429.10
2754       157454  8897339.20
3995        75415  8897068.09
10096       46325  8895569.09
24128        1966  8895117.06
7597        24576  8895034.75
26083       19425  8890156.60
29634      169735  8890085.56
11397       32225  8889829.28
8428       124537  8889770.71
18884      146327  8887836.23
16651      121562  8887740.40
19179       44731  8882444.95
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:13] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
20746      174206  9680562.02
667         72865  9679043.34
7555       114357  9671017.44
15599      112807  9665019.21
20757      115203  9661018.73
6787       177454  9658906.35
16358      161275  9634313.71
2340        61893  9617095.44
14759      122219  9604888.20
25975      183427  9601362.58
1935        59158  9599705.96
23407       61931  9584918.98
1307         5532  9579964.14
28724       20158  9576714.38
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:35] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
27446         325  8667741.28
8832       167291  8667556.18
13868      150119  8663403.54
20762       88420  8663355.40
2619       179784  8653021.34
23195      130884  8651970.00
27835      172611  8648217.00
24673       85373  8647796.22
10123      122717  8646758.54
20897      113431  8646348.34
7559        66015  8643349.40
8476        33141  8643243.18
9156        69786  8637396.92
6236       181857  8637393.28
20861      122939  8636378.00
22248      196223  8635391.02
19782       50532  8632648.24
1497        58102  8632614.54
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:47] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
24938        1712  8349107.00
24109      167190  8347238.70
14330       32113  8346452.04
8657        40580  8342983.32
16430       74785  8342519.13
25801       14799  8342236.75
19215      177291  8341736.83
9137       198956  8340370.65
26501       69179  8338465.99
7742       118764  8337616.56
15688      128814  8336435.56
25151       82729  8331766.88
21716      152048  8330638.99
3722       171085  8326259.50
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:57] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
14215       18254  8114783.04
4956       165464  8114571.80
11181       57936  8111927.25
7245        52226  8110723.32
15268      128571  8106788.80
26238      100308  8105837.04
1620         8872  8102395.62
11069       58867  8102033.19
4683       145153  8100222.84
26562      172088  8098138.20
11483       59398  8095845.45
22445       89395  8093576.10
20258      171961  8093538.00
3844        88736  8090762.16
26536      174053  8090350.11
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:45] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
18013       52017  8398753.60
4705       176179  8398087.00
21325      100215  8395906.61
15203       61256  8392811.20
5609        15366  8388907.80
8848       109479  8388027.20
916         66202  8386522.83
27263       81707  8385761.19
12386       51727  8385426.40
20626        9980  8382754.62
29043      174403  8378575.73
6129        54558  8378041.92
5078         3141  8377378.22
20095      134829  8377105.52
15908      145056  8376920.76
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:19] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
4662        44116  9255922.00
15069      115818  9253311.91
20816      103388  9239218.08
3005       186118  9236209.12
22549      155809  9235410.84
21333      147003  9234847.99
20152       27769  9232511.64
8110       112779  9231927.36
2648       124851  9228982.68
18945      158488  9227216.40
2473        83328  9224792.20
29648      136797  9222927.09
21061      141730  9216370.68
16688       87304  9215695.50
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:9] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
3649        55424  10444006.48
4986        16560  10425574.74
5337       133114  10415097.90
19752      195810  10413625.20
26690       76673  10391977.18
29497       97305  10390890.57
9749       134210  10387210.02
6627       188536  10386529.92
26665      122255  10335760.32
28600        2682  10312966.10
4481        43814  10303086.61
640         34767  10290405.18
9886       165584  10273705.89
25682        2231  10270415.55
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:28] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
26337       93141  8881850.88
5109       187871  8873506.18
19888       71709  8873057.28
19601      151913  8869321.17
8896        33786  8868955.39
3131        35902  8868126.06
25180       23588  8867769.90
4300        24508  8867616.00
10540      161282  8866661.43
6222       188061  8862304.00
23462      132847  8862082.00
28258      166843  8861200.80
5850        30609  8860214.73
19023       56191  8856546.96
23335      160740  8852685.43
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:40] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
12552      139447  8522521.92
8462        96313  8520949.92
27885      108454  8520916.25
25196      181254  8519496.10
5847        71117  8519223.00
24406      131703  8517215.28
9784        59312  8510568.36
22838        2903  8509960.35
10075      102838  8509527.69
10291      162806  8508906.05
11606       41527  8508222.36
23443      118416  8505858.36
27714      180203  8505024.16
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:68] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
18202       23538  7909752.06
19827       41093  7909579.92
11035      112073  7908617.57
6120        92814  7908262.50
5538        88919  7907992.50
1247        79753  7907933.88
977        108765  7905338.98
28752      146530  7905336.60
8313        71475  7903367.58
13390       36289  7901946.50
23006       61739  7900794.00
1040        52338  7898638.08
25907      194299  7898421.24
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:43] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
29162      146925  8454887.91
9461       164277  8454838.50
21935      131290  8454811.20
10042      179386  8450909.90
26185       90486  8447873.86
16279      175924  8444421.66
23174      185922  8442394.88
8034        38492  8436438.32
13010      172511  8436287.34
15060      139539  8434180.29
208         11926  8433199.52
16523       55889  8431449.88
11578      163068  8431116.40
2586       138772  8428406.36
9706       126821  8425180.68
12467       22091  8420687.88
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:39] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
18981       54241  8550785.25
24819      120325  8549976.60
24934         424  8547527.10
9442       196543  8545907.09
7504        13042  8542717.18
22160       58332  8536074.69
18618        9191  8535663.92
18456      134357  8535429.90
8878        96207  8534900.60
18545       92292  8530618.78
13753      181093  8528303.52
21930      105064  8527491.60
6476        59635  8526854.08
9858       136974  8524351.56
28719      126694  8522783.37
8082         6247  8522606.90
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:31] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
4750        97744  8785315.94
26381      164327  8784503.86
17647       76542  8782613.28
2565         4731  8772846.70
19332      157590  8772006.45
16831      154276  8771733.91
9467        28705  8771576.64
15601      100226  8769455.00
8392       179195  8769185.16
8696       184355  8768118.05
19517      120408  8768011.12
16235       63145  8761991.96
20463       53135  8753491.80
6759       173071  8750508.80
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:59] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
20643       16167  8067495.24
22370       12662  8067248.85
15653       94540  8063727.16
18646       23308  8063463.18
26305       27390  8062823.25
29753      130660  8062787.48
1219         8608  8062411.16
9527       181552  8062008.30
3329       199319  8060248.56
6553        55475  8058850.92
24810      142711  8057926.58
8843       103499  8056978.00
819        105943  8056698.75
3694         8432  8053052.16
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:21] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY       VALUE
15122      125329  9198688.50
17159      167867  9194022.72
14794      134767  9191444.72
1871       127745  9191271.56
4220        69208  9187110.00
3094       155222  9186469.16
15743      196916  9182995.82
5322       195590  9176353.12
291        169155  9175176.09
2845        81558  9171946.50
14134      185136  9171293.04
27808      114790  9168509.10
5730       194142  9165836.61
27856      167639  9161165.00
27556       11241  9160789.46
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:71] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
   O_YEAR  MKT_SHARE
1    1995   0.034436
0    1996   0.041486
Empty DataFrame
Columns: [PS_PARTKEY, VALUE]
Index: []
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..

[stdout:7] Empty DataFrame
Columns: [N_NAME, TMP]
Index: []
       PS_PARTKEY        VALUE
26282      156391  10839810.38
27663       40884  10837234.19
10778      141288  10837130.21
1421       152388  10830977.82
7223        33449  10830858.72
13592      149035  10826130.02
29660      162620  10814275.68
7326       118324  10791788.10
8855        38932  10777541.75
10400      121294  10764225.22
12130       48721  10762582.49
4214        63342  10740132.60
14211        5614  10724668.80
7932        62266  10711143.10
Empty DataFrame
Columns: [CNTRYCODE, NUMCUST, TOTACCTBAL]
Index: []
Execution Completed:..